{% extends "admin/XMLimport/base.html" %}

{% block content %}
{% if success %}
<div>
  <h1>
{% if exist %}
This manuscript already exists in the database, and the new XML has been imported Successfully!! </h1>
{% else %}
<h1>Success!! A new manuscript has been created in the database, you can fill in its metadata now.
</h1>
{% endif %}
</div>
{% else %}
<h1>Import an XML file and make it HTML</h1>
{% if failed %}
<h2>There was an error. Make sure you are using a '.xml' file.</h2>
{% endif %}
{% endif %}
{% endblock %}

{% block myblock %}
{% if success %}
<p>Select another XML file to add and convert.</p>
{% else	%}
<p>Select the XML file to add and convert.</p>
{% endif %}
<form enctype="multipart/form-data" method="post" action="">
  {% csrf_token %}
  <table>
    {{ form.as_table }}
  </table>
  <input type="submit" value="Submit" />
</form>
{% endblock %}
<script>
console.log('{{exist}}');
</script>
