diff-match-patch==20121119
Django==1.8.5
-e git+https://github.com/bmihelac/django-import-export.git@8e8df16c6f2721f1cbe0db72fb722c6207007ae3#egg=django_import_export-dev
tablib==0.10.0
wheel==0.24.0
