#openseadragon1 {
  /* Otherwise the viewer doesn't display for some reason. */
  height: 600px
}
div.inline-div {
  display: inline-block;
  padding: 10px;
  width: 40%;
  min-height: 300px;
  vertical-align: top;
  border: 1px solid #417690;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

div.block40 {
  display: inline-block;
  width: 40%;
  text-align: center;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

#no-transcription {
  font-style: italic;
  line-height: 300px;
  text-align: center;
}

form {
  text-align: center;
  display: inline-block;
}

/* Diff colors taken from GitHub diffs. */
.diff-first {
  background-color: #ffeef0;
}

.diff-second {
  background-color: #e6ffed;
}
#delete-button {
  /* Copied from Django's admin stylesheet. */
  background: #ba2121;
  color: #fff;
}
