{% extends "admin/SMimport/base.html" %}

{% block content %}
{% if success %}
<div>
<h1>Success!</h1>
</div>
{% else %}
<h1>Import a Story Map</h1>
	{% if failed %}
	<h2>There was an error. Make sure you are using a '.xml' file</h2>
	{% endif %}
{% endif %}
{% endblock %}
{% block myblock %}
	{% if success %}
	<p>Select another xml file to add</p>
	{% else	%}
	<p>Select the xml file you want to add</p>
	{% endif %}
	<form method="POST" enctype="multipart/form-data" action="">
	{% csrf_token %}
	<div>
	<input type="file" name="datafile" size="40">
	</div>
	<div class="submit-row">
	<input type="submit" value="Import!">
	</div>
	</form>
</div>
{% endblock %}

