
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

{% load staticfiles %}
{% load more_like_this %}
<!doctype html>
<html class="no-js" lang="en">

<head>
  {% include 'top-links.html' %}
  <title>Penn's Treaty | Search </title>
</head>


<body>

      {% include 'header.html' %}

      <div id = "row1">
      <!--     Navigation Menu Below:  -->

        {% include 'nav.html' %}

      </div>

      <div id ="row2">
        <div class="row">
          <br />
        <h1>Search</h1>
        <br />
      </div>
      </div>

<br />
<div class=container>


<div id="row3">


    <div class="well">  <form method="get" action=".">
        <!--  <table>-->

          <!--    {{ form.as_p }}-->


      <p><label for="id_q" style="text-align:left">Search:</label>
        <input id="id_q" name="q" type="search" placeholder="search"></p>



     <!-- <div class="col-sm-2">  <label for="id_models_0"><b>Narrow Your Search:</b></label></div>
      <div class="col-sm-2">  <label for="id_models_3"><input id="id_models_3" name="models" type="checkbox" value="QI.People"> People</label> </div>
      <div class="col-sm-2">  <label for="id_models_4"><input id="id_models_4" name="models" type="checkbox" value="QI.Places"> Places</label> </div>
      <div class="col-sm-2">  <label for="id_models_1"><input id="id_models_1" name="models" type="checkbox" value="QI.Groups"> Groups</label> </div>
      <div class="col-sm-2">  <label for="id_models_0"><input id="id_models_0" name="models" type="checkbox" value="QI.Manuscripts"> Manuscripts</label> </div>
      <div class="col-sm-2">  <label for="id_models_2"><input id="id_models_2" name="models" type="checkbox" value="QI.Pages"> Pages of Manuscripts</label> </div>-->


              <!--<tr>-->
  <br />
  <input type="submit" class="button" value="Search">

            <!--  </tr>-->
        <!--  </table>-->

  </div>

<div class=col-sm-4>



        {% if query %}


<!-- begin faceting feature -->

<!-- note about the Faceted Search code:

the 'if statements' are hard-coded in based on what things are being faceted by.
if what is being faceted by is ever changed, these statements would have to change.

the categories are also hard-coded in but i think that's just how it has to be w/ faceting!

-->


<p><b>Refine your results:</b></p>

<div class="panel-group" id="accordion">

<!-- only show person tab if other types of facets aren't in the URL-->
<!-- this next statement is very long bc i'm covering all the possibilities of what you could facet by -->
{% if not 'selected_facets=county_exact' in request.get_full_path and not 'selected_facets=state_exact' in request.get_full_path and not 'selected_facets=place_id_exact' in request.get_full_path and not 'selected_facets=date_founded_exact' in request.get_full_path and not 'selected_facets=date_dissolved_exact' in request.get_full_path and not 'selected_facets=org_type_exact' in request.get_full_path and not 'selected_facets=person_id_exact' in request.get_full_path and not 'selected_facets=date_exact' in request.get_full_path and not 'selected_facets=type_of_Manuscript_exact' in request.get_full_path and not 'selected_facets=manuscript_exact' in request.get_full_path %}

<!--This next statement is for when you narrow your search by choosing a specific model-->
{% if not 'models=' in request.get_full_path or 'models=QI.People' in request.get_full_path  %}

<!--BEGIN PERSON TAB-->

{% with page.object_list as FR %}
{% regroup FR|dictsort:"modeltype" by modeltype as GROUP %}
{% for ct in GROUP %}
{% if ct.grouper == 'People' and ct.list|length > 0 %}

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
    <i>  By Person...</i></a>
      </h4>
    </div>

    <div id="collapse1"  class="panel-collapse collapse in">
   <div class="panel-body">

     <!-- Begin faceting for person -->

    {% if facets.fields.firstname %}
{% if facets.fields.firstname.0.1 > 0 or facets.fields.firstname.1.1 > 0 or facets.fields.firstname.2.1 > 0 or facets.fields.firstname.3.1 > 0 or facets.fields.firstname.4.1 > 0 %}

<div class="col-sm-6">
        <div>
            <dl>
                {% if facets.fields.firstname %}
                    <dt>First Name</dt>
                    {# Provide only the top 5 authors #}
                    {% for firstname in facets.fields.firstname %}

			{% if firstname.1 > 0 %} 
                        <dd><a href="{{ request.get_full_path }}&amp;selected_facets=firstname_exact:{{ firstname.0|urlencode }}">{{ firstname.0 }}</a> ({{ firstname.1 }})</dd>
			{% endif %} 

                    {% endfor %}

                {% else %}
                    <p></p>
                {% endif %}
            </dl>
        </div>
      </div>
{% endif %} {% endif %}


{% if facets.fields.lastname %}
{% if facets.fields.lastname.0.1 > 0 or facets.fields.lastname.1.1 > 0 or facets.fields.lastname.2.1 > 0 or facets.fields.lastname.3.1 > 0 or facets.fields.lastname.4.1 > 0 %}

<div class="col-sm-6">

        <div>
            <dl>
                {% if facets.fields.lastname %}
                    <dt>Last Name</dt>
                    {# Provide only the top 5 authors #}
                    {% for lastname in facets.fields.lastname %}
			{% if lastname.1 > 0 %}
                        <dd><a href="{{ request.get_full_path }}&amp;selected_facets=lastname_exact:{{ lastname.0|urlencode }}">{{ lastname.0 }}</a> ({{ lastname.1 }})</dd>
                {% endif %}    
		{% endfor %}
                {% else %}
                    <p></p>
                {% endif %}
            </dl>
        </div>

</div>
{% endif %} {% endif %}

{% if facets.fields.birthdate %}
{% if facets.fields.birthdate.0.1 > 0 or facets.fields.birthdate.1.1 > 0 or facets.fields.birthdate.2.1 > 0 or facets.fields.birthdate.3.1 > 0 or facets.fields.birthdate.4.1 > 0 %}

<div class="col-sm-6">
        <div>
            <dl>
                {% if facets.fields.birthdate %}
                    <dt>Birth Date</dt>
                    {# Provide only the top 5 authors #}
                    {% for birthdate in facets.fields.birthdate %}
	                        
			{% if birthdate.1 > 0 %}
<dd><a href="{{ request.get_full_path }}&amp;selected_facets=birthdate_exact:{{ birthdate.0|urlencode }}">{{ birthdate.0 }}</a> ({{ birthdate.1 }})</dd>
                {% endif %}    
		{% endfor %}
                {% else %}
                    <p></p>
                {% endif %}
            </dl>
        </div>
      </div>

{% endif %} {% endif %}


{% if facets.fields.deathdate %}
{% if facets.fields.deathdate.0.1 > 0 or facets.fields.deathdate.1.1 > 0 or facets.fields.deathdate.2.1 > 0 or facets.fields.deathdate.3.1 > 0 or facets.fields.deathdate.4.1 > 0 %}

      <div class="col-sm-6">
              <div>
                  <dl>
                      {% if facets.fields.deathdate %}
                          <dt>Death Date</dt>
                          {# Provide only the top 5 authors #}
                          {% for deathdate in facets.fields.deathdate %}
                        	{% if deathdate.1 > 0 %}   
			   <dd><a href="{{ request.get_full_path }}&amp;selected_facets=deathdate_exact:{{ deathdate.0|urlencode }}">{{ deathdate.0 }}</a> ({{ deathdate.1 }})</dd>
                        {% endif %}  
			{% endfor %}
                      {% else %}
                          <p></p>
                      {% endif %}
                  </dl>
              </div>
            </div>

{% endif %} {% endif %}

        <!-- End faceting for person -->

  </div>
    </div>
  </div>

  <!--END PERSON TAB-->
{% endif %}
  {% endfor %}
  {% endwith %} 

 {% endif %}
{% endif %}



{% if not 'deathplace' in request.get_full_path and not 'birthplace' in request.get_full_path and not 'deathdate' in request.get_full_path and not 'birthdate' in request.get_full_path and not 'firstname' in request.get_full_path and not 'lastname' in request.get_full_path and not 'selected_facets=place_id_exact' in request.get_full_path and not 'selected_facets=date_founded_exact' in request.get_full_path and not 'selected_facets=date_dissolved_exact' in request.get_full_path and not 'selected_facets=org_type_exact' in request.get_full_path and not 'selected_facets=person_id_exact' in request.get_full_path and not 'selected_facets=date_exact' in request.get_full_path and not 'selected_facets=type_of_Manuscript_exact' in request.get_full_path and not 'selected_facets=manuscript_exact' in request.get_full_path %}
{% if not 'models=' in request.get_full_path or 'models=QI.Places' in request.get_full_path  %}
  
{% with page.object_list as FR %}
{% regroup FR|dictsort:"modeltype" by modeltype as GROUP %}
{% for ct in GROUP %}
{% if ct.grouper == 'Places' and ct.list|length > 0 %}

<!--BEGIN PLACE TAB-->

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
        <i>By Place...</i></a>
      </h4>
    </div>

    <div id="collapse2" class="panel-collapse collapse">
      <div class="panel-body">

<!-- begin faceting for place -->

{% if facets.fields.county %}
{% if facets.fields.county.0.1 > 0 or facets.fields.county.1.1 > 0 or facets.fields.county.2.1 > 0 or facets.fields.county.3.1 > 0 or facets.fields.county.4.1 > 0 %}


        <div class="col-sm-6">
                <div>
                    <dl>
                        {% if facets.fields.county %}
                            <dt>County</dt>
                            {# Provide only the top 5 authors #}
                            {% for county in facets.fields.county %}
				{% if county.1 > 0 %}
                                <dd><a href="{{ request.get_full_path }}&amp;selected_facets=county_exact:{{ county.0|urlencode }}">{{ county.0 }}</a> ({{ county.1 }})</dd>
                        {% endif %}    
			{% endfor %}
                        {% else %}
                            <p></p>
                        {% endif %}
                    </dl>
                </div>
              </div>

{% endif %} {% endif %}

{% if facets.fields.state %}
{% if facets.fields.state.0.1 > 0 or facets.fields.state.1.1 > 0 or facets.fields.state.2.1 > 0 or facets.fields.state.3.1 > 0 or facets.fields.state.4.1 > 0 %}

              <div class="col-sm-6">
                      <div>
                          <dl>
                              {% if facets.fields.state %}
                                  <dt>State</dt>
                                  {# Provide only the top 5 authors #}
                                  {% for state in facets.fields.state %}
        			{% if state.1 > 0 %}                           
	   <dd><a href="{{ request.get_full_path }}&amp;selected_facets=state_exact:{{ state.0|urlencode }}">{{ state.0 }}</a> ({{ state.1 }})</dd>
                                {% endif %}  {% endfor %}
                              {% else %}
                                  <p></p>
                              {% endif %}
                          </dl>
                      </div>
                    </div>

{% endif %} {% endif %}

                <!-- End faceting for place -->


      </div>
    </div>
  </div>
  <!--END PLACE TAB-->

{% endif %}
  {% endfor %}
  {% endwith %}

  {% endif %}
{% endif %}



{% if not 'state' in request.get_full_path and not 'county' in request.get_full_path and not 'deathplace' in request.get_full_path and not 'birthplace' in request.get_full_path and not 'deathdate' in request.get_full_path and not 'birthdate' in request.get_full_path and not 'firstname' in request.get_full_path and not 'lastname' in request.get_full_path and not 'selected_facets=person_id_exact' in request.get_full_path and not 'selected_facets=date_exact' in request.get_full_path and not 'selected_facets=type_of_Manuscript_exact' in request.get_full_path and not 'selected_facets=manuscript_exact' in request.get_full_path %}
{% if not 'models=' in request.get_full_path or 'models=QI.Groups' in request.get_full_path  %}


{% with page.object_list as FR %}
{% regroup FR|dictsort:"modeltype" by modeltype as GROUP %}
{% for ct in GROUP %}
{% if ct.grouper == 'Groups' and ct.list|length > 0 %}

  <!--BEGIN GROUP TAB-->

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
      <i>  By Group... </i></a>
      </h4>
    </div>

    <div id="collapse3" class="panel-collapse collapse">
      <div class="panel-body">

        <!-- begin faceting for group -->


{% if facets.fields.date_founded %}
{% if facets.fields.date_founded.0.1 > 0 or facets.fields.date_founded.1.1 > 0 or facets.fields.date_founded.2.1 > 0 or facets.fields.date_founded.3.1 > 0 or facets.fields.date_founded.4.1 > 0 %}


                <div class="col-sm-6">
                        <div>
                            <dl>
                                {% if facets.fields.date_founded %}
                                    <dt>Date Founded</dt>
                                    {# Provide only the top 5 authors #}
                                    {% for date_founded in facets.fields.date_founded %}

					{% if date_founded.1 > 0 %}
                                        <dd><a href="{{ request.get_full_path }}&amp;selected_facets=date_founded_exact:{{ date_founded.0|urlencode }}">{{ date_founded.0 }}</a> ({{ date_founded.1 }})</dd>
                                  {% endif %}  {% endfor %}
                                {% else %}
                                    <p></p>
                                {% endif %}
                            </dl>
                        </div>
                      </div>

{% endif %} {% endif %}

{% if facets.fields.date_dissolved %}
{% if facets.fields.date_dissolved.0.1 > 0 or facets.fields.date_dissolved.1.1 > 0 or facets.fields.date_dissolved.2.1 > 0 or facets.fields.date_dissolved.3.1 > 0 or facets.fields.date_dissolved.4.1 > 0 %}


                      <div class="col-sm-6">
                              <div>
                                  <dl>
                                      {% if facets.fields.date_dissolved %}
                                          <dt>Date Dissolved</dt>
                                          {# Provide only the top 5 authors #}
                                          {% for date_dissolved in facets.fields.date_dissolved %}
                                             {% if date_dissolved.1 > 0 %} <dd><a href="{{ request.get_full_path }}&amp;selected_facets=date_dissolved_exact:{{ date_dissolved.0|urlencode }}">{{ date_dissolved.0 }}</a> ({{ date_dissolved.1 }})</dd>
                                        {% endif %}  {% endfor %}
                                      {% else %}

                                      {% endif %}
                                  </dl>
                              </div>
                            </div>

{% endif %} {% endif %}

{% if facets.fields.org_type %}
{% if facets.fields.org_type.0.1 > 0 or facets.fields.org_type.1.1 > 0 or facets.fields.org_type.2.1 > 0 or facets.fields.org_type.3.1 > 0 or facets.fields.org_type.4.1 > 0 %}


                            <div class="col-sm-6">
                                    <div>
                                        <dl>
                                            {% if facets.fields.org_type %}
                                                <dt>Type of Group</dt>
                                                {# Provide only the top 5 authors #}
                                                {% for org_type in facets.fields.org_type %}
                                                 {% if org_type.1 > 0 %}   <dd><a href="{{ request.get_full_path }}&amp;selected_facets=org_type_exact:{{ org_type.0|urlencode }}">{{ org_type.0 }}</a> ({{ org_type.1 }})</dd>
                                              {% endif %}  {% endfor %}
                                            {% else %}
                                                <p></p>
                                            {% endif %}
                                        </dl>
                                    </div>
                                  </div>
{% endif %} {% endif %}
                        <!-- End faceting for group-->

      </div>
    </div>
  </div>
  <!--END GROUP TAB-->

{% endif %}
  {% endfor %}
  {% endwith %}

  {% endif %}
{% endif %}


{% if not 'state' in request.get_full_path and not 'county' in request.get_full_path and not 'deathplace' in request.get_full_path and not 'birthplace' in request.get_full_path and not 'deathdate' in request.get_full_path and not 'birthdate' in request.get_full_path and not 'firstname' in request.get_full_path and not 'lastname' in request.get_full_path and not 'selected_facets=place_id_exact' in request.get_full_path and not 'selected_facets=date_founded_exact' in request.get_full_path and not 'selected_facets=date_dissolved_exact' in request.get_full_path and not 'selected_facets=org_type_exact' in request.get_full_path and not 'selected_facets=person_id_exact' in request.get_full_path and not 'selected_facets=date_exact' in request.get_full_path and not 'selected_facets=type_of_Manuscript_exact' in request.get_full_path %}
{% if not 'models=' in request.get_full_path or 'models=QI.Pages' in request.get_full_path  %}


{% with page.object_list as FR %}
{% regroup FR|dictsort:"modeltype" by modeltype as GROUP %}
{% for ct in GROUP %}
{% if ct.grouper == 'Pages' and ct.list|length > 0 %}

  <!--BEGIN PAGE TAB-->
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">
    <i>    By Page... </i></a>
      </h4>
    </div>

    <div id="collapse4" class="panel-collapse collapse">
      <div class="panel-body">
{% if facets.fields.manuscript %}
{% if facets.fields.manuscript.0.1 > 0 or facets.fields.manuscript.1.1 > 0 or facets.fields.manuscript.2.1 > 0 or facets.fields.manuscript.3.1 > 0 or facets.fields.manuscript.4.1 > 0 %}

        <div class="col-sm-6">
                <div>
                    <dl>
                        {% if facets.fields.manuscript %}
                            <dt>Manuscript</dt>
                            {# Provide only the top 5 authors #}
                            {% for manuscript in facets.fields.manuscript %}
                              {% if manuscript.1 > 0 %}  <dd><a href="{{ request.get_full_path }}&amp;selected_facets=manuscript_exact:{{ manuscript.0|urlencode }}">{{ manuscript.0 }}</a> ({{ manuscript.1 }})</dd>
                          {% endif %}  {% endfor %}
                        {% else %}
                            <p></p>
                        {% endif %}
                    </dl>
                </div>
              </div>
{% endif %} {% endif %}

        </div>
    </div>
  </div>
  <!--END PAGE TAB-->

{% endif %}
  {% endfor %}
  {% endwith %}

  {% endif %}
{% endif %}


{% if not 'state' in request.get_full_path and not 'county' in request.get_full_path and not 'deathplace' in request.get_full_path and not 'birthplace' in request.get_full_path and not 'deathdate' in request.get_full_path and not 'birthdate' in request.get_full_path and not 'firstname' in request.get_full_path and not 'lastname' in request.get_full_path and not 'selected_facets=place_id_exact' in request.get_full_path and not 'selected_facets=date_founded_exact' in request.get_full_path and not 'selected_facets=date_dissolved_exact' in request.get_full_path and not 'selected_facets=org_type_exact' in request.get_full_path and not 'selected_facets=manuscript_exact' in request.get_full_path %}
{% if not 'models=' in request.get_full_path or 'models=QI.Manuscripts' in request.get_full_path  %}

{% with page.object_list as FR %}
{% regroup FR|dictsort:"modeltype" by modeltype as GROUP %}
{% for ct in GROUP %}
{% if ct.grouper == 'Manuscripts' and ct.list|length > 0 %}

  <!--BEGIN MANUSCRIPT TAB-->
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse5">
        <i>By Manuscript...</i></a>
      </h4>
    </div>

    <div id="collapse5" class="panel-collapse collapse">
      <div class="panel-body">

        <div class="col-sm-6">
                <div>
                    <dl>
                        {% if facets.fields.person_id %}
                            <dt>Author</dt>
                            {# Provide only the top 5 authors #}
                            {% for person_id in facets.fields.person_id %}
                              {% if person_id.1 > 0 %}  <dd><a href="{{ request.get_full_path }}&amp;selected_facets=person_id_exact:{{ person_id.0|urlencode }}">{{ person_id.0 }}</a> ({{ person_id.1 }})</dd>
                          {% endif %}  {% endfor %}
                        {% else %}
                            <p></p>
                        {% endif %}
                    </dl>
                </div>
              </div> 


{% if facets.fields.date %}
{% if facets.fields.date.0.1 > 0 or facets.fields.date.1.1 > 0 or facets.fields.date.2.1 > 0 or facets.fields.date.3.1 > 0 or facets.fields.date.4.1 > 0 %}


              <div class="col-sm-6">
                      <div>
                          <dl>
                              {% if facets.fields.date %}
                                  <dt>Date</dt>
                                  {# Provide only the top 5 authors #}
                                  {% for date in facets.fields.date %}
                                     {% if date.1 > 0 %} <dd><a href="{{ request.get_full_path }}&amp;selected_facets=date_exact:{{ date.0|urlencode }}">{{ date.0 }}</a> ({{ date.1 }})</dd>
                                {% endif %}  {% endfor %}
                              {% else %}
                                  <p></p>
                              {% endif %}
                          </dl>
                      </div>
                    </div>
{% endif %} {% endif %}

{% if facets.fields.type_of_Manuscript %}
{% if facets.fields.type_of_Manuscript.0.1 > 0 or facets.fields.type_of_Manuscript.1.1 > 0 or facets.fields.type_of_Manuscript.2.1 > 0 or facets.fields.type_of_Manuscript.3.1 > 0 or facets.fields.type_of_Manuscript.4.1 > 0 %}

                    <div class="col-sm-6">
                            <div>
                                <dl>
                                    {% if facets.fields.type_of_Manuscript %}
                                        <dt>Type of Manuscript</dt>
                                        {# Provide only the top 5 authors #}
                                        {% for type_of_Manuscript in facets.fields.type_of_Manuscript %}
                                        {% if type_of_Manuscript.1 > 0 %}    <dd><a href="{{ request.get_full_path }}&amp;selected_facets=type_of_Manuscript_exact:{{ type_of_Manuscript.0|urlencode }}">{{ type_of_Manuscript.0 }}</a> ({{ type_of_Manuscript.1 }})</dd>
                                      {% endif %}  {% endfor %}
                                    {% else %}
                                        <p></p>
                                    {% endif %}
                                </dl>
                            </div>
                          </div>
{% endif %} {% endif %}

      </div>
    </div>
  </div>
  <!--END MANUSCRIPT TAB-->

  {% endif %}
{% endfor %}
{% endwith %}

  {% endif %}
{% endif %}



{% with page.object_list as FR %}
{% regroup FR|dictsort:"modeltype" by modeltype as GROUP %}
{% for ct in GROUP %}

{% empty %}
<p> No Results Found. </p>

{% endfor %}
{% endwith %}




</div>

<!-- end -->

         </div>


         <div class=col-sm-8>

            <h3>Results</h3>

            {% with page.object_list as results %}
           {% regroup results|dictsort:"modeltype" by modeltype as grouped_objects %}


           <!--if not 'models=' in request.get_full_path or 'models=QI.manuscript' in request.get_full_path-->

           {% for ct in grouped_objects %}

          <!--     <h4> <b>{{ ct.grouper }}</b> ({{ ct.list|length }}) </h4> --> <!--This is the name of the category-->

            {% if ct.grouper in request.get_full_path or not 'models=' in request.get_full_path %}

          <div class="panel-group">
              <div class="panel panel-default">
               <div class="panel-heading">
                 <h4 class="panel-title">

                   <a data-toggle="collapse" href="#collapse{{ ct.grouper }}"> <font color =#008CBA face='Open Sans'><h4><b>{{ ct.grouper }}</b> ({{ ct.list|length }})</h4></font> </a>

                 </h4>
               </div>

               <div id="collapse{{ ct.grouper }}" class="panel-collapse collapse">

                 <ul class="list-group">  <!--setting up list group per CT-->

               {% for result in ct.list %}

                       {% if result.object.get_type == 'People' %}

                    <li class = "list-group-item">   <a href="/person/{{ result.object.id_tei }}">{{ result.object.first_name }} {{ result.object.last_name}}</a> </li>

                       {% elif result.object.get_type == 'Places' %}

                    <li class = "list-group-item">   <a href="/place/{{ result.object.id_tei }}">{{ result.object.name }}</a> </li>

                       {% elif result.object.get_type == 'Groups' %}

                    <li class = "list-group-item">   <a href="/org/{{ result.object.id_tei }}">{{ result.object.organization_name }}</a> </li>

                       {% elif result.object.get_type == 'Pages' %}

                    <li class = "list-group-item">   <a href="/page/{{ result.object.id_tei }}">{{ result.object.Manuscript_id }}:
                       Page {{ result.object.id_tei|slice:"-3:" }}</a> </li>

                       {% else %}

                    <li class = "list-group-item">   <a href="/page/{{ result.object.id_tei }}_001">{{ result.object.title }}</a> </li>

                       {% endif %}

               {% endfor %}

             </ul>
           </div>
             </div>
           </div>

            {% endif %}

           {% empty %}
               <p>No results found.</p>

           {% endfor %}


       {% endwith %}




<!--            {% for result in page.object_list %}
                <p>

                    {% if result.object.get_type == 'Person' %}

                    <a href="/person/{{ result.object.id_tei }}">{{ result.object.first_name }} {{ result.object.last_name}}</a>

                    {% elif result.object.get_type == 'Place' %}

                    <a href="/place/{{ result.object.id_tei }}">{{ result.object.name }}</a>

                    {% elif result.object.get_type == 'Org' %}

                    <a href="/org/{{ result.object.id_tei }}">{{ result.object.organization_name }}</a>

                    {% elif result.object.get_type == 'Page' %}

                    <a href="/page/{{ result.object.id_tei }}">{{ result.object.id_tei }}</a>

                    {% elif result.object.get_type == 'Manuscript' %}

                    <a href="/page/{{ result.object.id_tei }}_001">{{ result.object.title }}</a>

                    {% endif %}

                </p>

            {% empty %}
                <p>No results found.</p>
            {% endfor %}-->



        {% if page.has_previous or page.has_next %}
                <div>
                    {% if page.has_previous %}<a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">{% endif %}&laquo; Previous{% if page.has_previous %}</a>{% endif %}
                    |
                    {% if page.has_next %}<a href="?q={{ query }}&amp;page={{ page.next_page_number }}">{% endif %}Next &raquo;{% if page.has_next %}</a>{% endif %}
                </div>
            {% endif %}

        {% else %}


        {% endif %}
</div>

    </form>
  </div>
</div>
<br />
    {% include 'footer.html' %}

    {% include 'bottom-links.html' %}
</body>
</html>
