<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

{% load staticfiles %}
{% load highlight %}
<!doctype html>
<html class="no-js" lang="en">
<head>
  {% include 'top-links.html' %}
  <title>Penn's Treaty | Search </title>

<style>
.highlighted {
    background-color: yellow;
}
</style>
</head>


<body>

      {% include 'header.html' %}

      <div id = "row1">
      <!--     Navigation Menu Below:  -->

        {% include 'nav.html' %}

      </div>

      <div id ="row2">
        <div class="row">
          <br />
        <h1>Search</h1>
        <br />
      </div>
      </div>

<br />
<div class=container>


<div id="row3">


    <div class="well">
       <form method="get" action=".">
     <p><label for="id_q" style="text-align:left">Search:</label>
        <input id="id_q" name="q" value = '{{ request.GET.q }}' type="search" placeholder="search"></p>

    <!-- <div class="col-sm-3">  <label for="id_models_0"><b>Narrow Your Search:</b></label></div>
     <div class="col-sm-2">  <label for="id_models_3"><input id="id_models_3" name="models" type="checkbox" value="QI.People"> People</label> </div>
      <div class="col-sm-2">  <label for="id_models_4"><input id="id_models_4" name="models" type="checkbox" value="QI.Places"> Places</label> </div>
      <div class="col-sm-2">  <label for="id_models_1"><input id="id_models_1" name="models" type="checkbox" value="QI.Groups"> Groups</label> </div>-->
      <!--<div class="col-sm-3">  <label for="id_models_0"><input id="id_models_0" name="models" type="checkbox" value="QI.Manuscripts"> Manuscripts</label> </div>
      <div class="col-sm-3">  <label for="id_models_2"><input id="id_models_2" name="models" type="checkbox" value="QI.Pages"> Pages of Manuscripts</label> </div>-->
      <input type="submit" class="button" value="Search">
</form>
  </div>
</div>

<div style="margin:auto">
{%if manuscript_results or page_results %}
{% if not all_page_results.has_previous %}
{% if manuscript_results %}
<ul> <h5 style="color: #960707"><b>From titles of manuscripts:</b></h5>
{% for result in manuscript_results %}
    <li>
       <b><a href="/page/{{result.object.id_tei}}_001"> {{ result.object.title}}</a></b> 
    </li>
{% endfor %}
</ul>
{% endif %}
{% endif %}

{% if all_page_results %}
<ul> <h5 style="color: #960707"><b>From fulltext of manuscript pages:&emsp;</b>{{ all_page_results.start_index }} - {{ all_page_results.end_index }} of {{ all_page_results.paginator.count }} results</h5>
{% for result in all_page_results %}
   <li>
      <b>Found on <a href="/page/{{result.object.id_tei}}">page {{ result.object.id_tei|slice:"-3:" }}</a> of {{ result.object.Manuscript_id }}</b>:&emsp;&emsp;<span style="color: #8a8b8e"> {% highlight result.fulltext with query%} </span>
   </li>
{% endfor %}
</ul>
{% endif %}

<div class="pagination">
    <span class="step-links">
        {% if all_page_results.has_previous %}
            <a href="?q={{ query }}&amp;page=1">&laquo; first</a>
            <a href="?q={{ query }}&amp;page={{ all_page_results.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ all_page_results.number }} of {{ all_page_results.paginator.num_pages }}.
        </span>

        {% if all_page_results.has_next %}
            <a href="?q={{ query }}&amp;page={{ all_page_results.next_page_number }}">next</a>
            <a href="?q={{ query }}&amp;page={{ all_page_results.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>

{% endif %}

{% if not all_page_results and not manuscript_results %}
<p>Sorry, no results found for "{{ query }}".</p>
{% endif %} 
<script>
console.log("results of '{{ request.GET.q }}' from '{{sqs}}'");
console.log("Manuscripts result: '{{manuscripts}}'");
console.log("Pages result: '{{pages}}'");
</script>

</div>
</body>
</html>

