{% load staticfiles %}
<!doctype html>
<html class="no-js" lang="en">
  <head>
    {% include 'top-links.html' %}

    <title>Error Page</title>

  </head>

  <body>
    
    {% include 'header.html' %}

<div id = "row2">
  <div class = "row">
    <br />
  </div>


</div>

<div id = "row3">
  <div class = "row full-width text-center">
    <br />

    <div>  
      
        <h3> Oops</h3>
        <br>
        	<p> 
		It looks like something went wrong. 
		</p>

  </div>

  </div>
</div>
