<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

{% load staticfiles %}

<!doctype html>

<html class="no-js" lang="en">


  <head>


  {% include 'top-links.html' %}

    <title>Bibliography</title>


  </head>

  <body>

    {% include 'header.html' %}

<div id = "row1">
<!--     Navigation Menu Below:  -->

  {% include 'nav.html' %}

</div>

<div id='row2'>
  <div class = "row">
    <br />
    <h1>Bibliography</h1>
    <br />
  </div>
</div>

<div id = "row3">
<br>
<div class='row'>
  <div class=well>

    <h3>  Cited Texts: </h3>

    <p>
      <b>[i]</b> <a href=http://personal.stevens.edu/~llevine/american_indian_ten_tribes_v3.pdf>http://personal.stevens.edu/~llevine/american_indian_ten_tribes_v3.pdf</a>;
      <a href=http://www.jewishpress.com/sections/magazine/glimpses-ajh/the-american-indian-descended-from-the-ten-lost-tribes-part-ii/2015/02/04/>http://www.jewishpress.com/sections/magazine/glimpses-ajh/the-american-indian-descended-from-the-ten-lost-tribes-part-ii/2015/02/04/</a> </p>

<p>
    <b>[ii]</b> Michael Goode, “A Failed Peace: The Friendly Association and the Pennsylvania Back Country
    During the Seven Years’ War” <i>Pennsylvania Magazine of History and Biography</i>, 136:4 (October 2012);
    Daniel Richter, “Whose American History?” William and Mary Quarterly, 3rd Series, Vol 50:2 (April 1993);
    Daniel Richter, <i>Facing East from Indian Culture: A Native History of Early America.</i> Cambridge:
    Harvard University, 2001. </p>

<p>
  <b>  [iii]</b> Clyde Milner, <i>With Good Intentions:</i>  (1982). See also
  <a href=http://nativeamericannetroots.net/diary/937> http://nativeamericannetroots.net/diary/937</a> </p>
</div>

  <div class=well>
    <h3>For Further Reading:</h3>

    <p>
    Clyde Milner and Floyd A. O’Neill, eds, <i> Churchmen and the Western Indians, 1820-1920. </i> (Univ of Oklahoma Press, 1985)
    </p>

    <p>
    Helen Hunt Jackson,<i> A Century of Dishonor.</i> (1881)
    </p>

    <p>
    Lois Barton, <i>A Quaker Promise Kept: Philadelphia Friends’ Work with the Allegany Senecas, 1795-1960 </i>(Eugene Or, 1960) Reviewed by Carol Karlsen, in QH, #81:1, (Spring 1992)
    </p>

    <p>
    Rayner Kelsey, <i> Friends and the Indians </i> (1917) {Full citation needed}
    </p>

    <p>
    Karim Tiro, [article in] <i> Journal of the Early Republic, </i> Fall, 2006 {full citation needed}
    </p>

      <p>
    Daniel Richter, <i>Facing East from Indian Culture: A Native History of Early America. </i> Cambridge: Harvard University, 2001.
    </p>

      <p>
    Jean R. Soderlund,<i> Lenape Country: Delaware Valley Society Before William Penn  </i> (Philadelphia: University of Pennsylvania Press, 2015)
    </p>

    <p>
    Amy C. Schutt, <i> Peoples of the River Valleys: The Odyssey of the Delaware Indians </i> (Philadelphia: University of Pennsylvania Press, 2007)
    </p>
  </div>

</div>
</div>

 {% include 'footer.html' %}

 {% include 'bottom-links.html' %}

  </body>
</html>
