
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

{% load staticfiles %}

<!doctype html>

<html class="no-js" lang="en">


  <head>


  {% include 'top-links.html' %}

    <title>Historical Background</title>


  </head>

  <body>

    {% include 'header.html' %}

<div id = "row1">
<!--     Navigation Menu Below:  -->

  {% include 'nav.html' %}

</div>

<div id='row2'>
  <div class = "row">
    <br />
    <h1>Contact Us!</h1>
    <br />
  </div>
</div>
<br>
<div id = "row3">
<div class=row>
<div class=well>
<h3>Contact</h3>

<p> Success!  We have received your message.  Thank you for contacting us with your concerns. </p>

</div>
</div>
</div>

{% include 'footer.html' %}

{% include 'bottom-links.html' %}

 </body>
</html>
