<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

{% load staticfiles %}

<!doctype html>

<html class="no-js" lang="en">


  <head>


  {% include 'top-links.html' %}

    <title>Credits</title>


  </head>

  <body>

    {% include 'header.html' %}

<div id = "row1">
<!--     Navigation Menu Below:  -->

  {% include 'nav.html' %}

</div>

<div id='row2'>
  <div class = "row">
    <br />
    <h1>Credits</h1>
    <br />
  </div>
</div>

<div id = "row3">
<br>
<div class='row'>
  <div class=well>

<h3>Student Workers</h3>

<p><b>Claire Michel (’18)</b> is a Psychology Major and Economics Minor at Haverford College.
  She worked on creating the maps for the website using Carto (formerly Cartodb), </p>
<hr>

<p><b>Becky Lytle ('18)</b> is a Computer Science major at Haverford College.  She created the
  document-viewer along with the profiles for the people, places, and groups.  She also implemented a search
  feature using Django-Haystack and Solr.</p> 
</p>


</div>

</div>
</div>

 {% include 'footer.html' %}

 {% include 'bottom-links.html' %}

  </body>
</html>
