{% load staticfiles %}
<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    {% include 'top-links.html' %}

    <title>Penn's Treaty | Welcome </title>

  </head>

  <body>
 
<div id="background">  
  <div class="overlay">
    <div class="intro-text">
      <h1>Beyond Penn's Treaty</h1>
      <p>William Penn’s original intention to treat American Indians fairly in land “sharing” was soon overridden by the land hunger of Europeans. Different notions of land “use” and “ownership” became ever more critical as the two groups struggled to find ways to co-exist. Nevertheless, part of Penn’s vision lived on in the memory and policies of a community of Quakers who maintained—and continuously updated—a commitment to American Indians.
      <p>Beyond Penn's Treaty: Quakers and American Indians provides access to linked and annotated versions of Quaker diaries, letters, and meeting records which record contact with American Indians, particularly the Seneca, beginning in the 1740s. These documents, held in Quaker &amp; Special Collections at Haverford College and Friends Historical Library at Swarthmore College, are all from the Quaker perspective, and document their view of this unfolding relationship.</p>

      <p>Visitors to the site can search for people, organizations, and places within a variety of documents; view maps of travel routes and common locations; and transcribe documents.</p>
    </div>
    <div id="enter-btn">
    Enter Beyond Penn's Treaty
    </div>
  </div>

</div>
  </body>
</html>
