 <footer class = "footer" id = "footer1">
      <div class = "row full-width">


<div class = "hide-for-medium-up small-12 columns">
  <ul class = "no-bullet">
    <li> Haverford College Libraries</li>
    <li>370 Lancaster Ave. </li>
    <li>Haverford, PA 19041 </li>
    <li> <a href = "http://library.haverford.edu"> Haverford Libararies Website </a></li>
  </ul>
</div>

<div class = "hide-for-small-only medium-4 large-4 columns text-center" id ="vert">
            <ul class = "no-bullet">
              <li> Quaker &amp; Special Collections</li>
              <li> Haverford College Libraries</li>
              <li>370 Lancaster Ave.</li>
              <li>Haverford, PA 19041</li>
               <li>  <u><a href = "http://library.haverford.edu/places/special-collections">Quaker &amp; Special Collections Website </a></u></li>
            </ul>
        </div>




    <div class = "hide-for-small-only  medium-4 large-4 columns" id = "vert">
            <ul class = "no-bullet">
           <li> Digital Scholarship</li>
           <li> Haverford College Libraries</li>
          <li>  370 Lancaster Avenue</li>
          <li>  Haverford, PA 19041</li>
           <li>  <u><a href = "http://library.haverford.edu/services/digital-scholarship/"> HaverfordDS Website </a></u></li>
          </ul>


        </div>
        <div class = "hide-for-small-only medium-4 large-4 columns">
            <ul class = "no-bullet">
              <li> Friends Historical Library </li>
              <li> Swarthmore College </li>
              <li>500 College Avenue</li>
              <li>Swarthmore, PA 19081 </li>
              <li> <u> <a href = "http://www.swarthmore.edu/friends-historical-library">Friends Historical Library Website </a></u></li>
            </ul>

        </div>
      <div class = "large-12 columns text-center">
        <p><a href = "#"> About </a>| <a href = "https://ds-omeka.haverford.edu/qi/collections/browse/"> Transcribe </a> | <a href = "/texts"> Available Texts </a> | <a href = "#"> Bibliography &amp; Credits </a></p>
      </div>
    </div>




    </footer>
