{% load staticfiles %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/header.css" />
<div id="toprectangle">
<div id="headtitle">Beyond Penn's Treaty </div>
</div>
<div class="spacer">
    &nbsp;
</div>

 <header>
   	<div style="display:block; position:relative; max-width:100%; width:device-width, initial-scale=1;"> 
        <img src="{% static "img/headermapNew.jpg" %}" alt="Part of a map of the Province of Pennsylvania, 1756" />
	</div>
	<div class = "overlay-container">
		 {% include 'sidebar.html' %}
	</div>

 </header>
