{% load staticfiles %}

 <header>
          <div class = "overlay-container">
            <img src="{% static "img/PennsTreaty-Westcrop2.jpg" %}" alt="Header img" />
              <div style="margin-bottom:-20px;" class = "overlay1 show-for-small-up">


                                    <form action="/search" method='get'>
                                     <input style="float:right;" class='button' type="submit" value="Search">
                                      <input style="margin:0px; width:200px; height:30px; float:right;"  type="text" name="q">
                                    </form>



                <strong>
                </strong>
              </div>
        </div>




 </header>
