<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

{% load staticfiles %}

<!doctype html>

<html class="no-js" lang="en">


  <head>


  {% include 'top-links.html' %}

    <title>Historical Background</title>


  </head>

  <body>

    {% include 'header.html' %}

<div id = "row1">
<!--     Navigation Menu Below:  -->

  {% include 'nav.html' %}

</div>

<div id='row2'>
  <div class = "row">
    <br />
    <h1>Historical Background</h1>
    <br />
  </div>
</div>


<div id = "row3">
<br>
<div class='row'>
  <div class=well>

  <p>From the vantage point of the twenty-first century, it isn’t easy to reconstruct what

  must have been in the minds of English settlers when first they encountered the

  native peoples on the American continent. Separated by several months, an ocean,

  and much travail, from all that was familiar, the new arrivals struggled to create a

  context in which to understand these foreign people who looked, spoke, and

  behaved so differently from the comrades they’d left behind in England.</p>

  <p>
  Quaker William Penn, arriving in the New World in 1682, was a bit awestruck,

  wondering if perhaps the native Americans were the lost tribes of Israel, (a theory

  that has persisted into modern day.<b>[i]</b>) But Quakers were not the first Englishman to

  struggle with both the question of the origins of the “Indians”, and with the related

  enigma of the best way to respond to the presence of these mysterious and exotic

  peoples. As early as the 1580s, artist John White’s explorations of Roanoke Island

  resulted in dozens of paintings (reproduced by Belgian engraver Theodor de Bry,

  and widely circulated in Europe), which wordlessly interrogated the visages, habits,

  habitats, and resources of America’s southeastern natives. Though many English

  settlers all along the east coast understood that there was much to be learned from

  the natives—especially about survival in this strange land with its inscrutable flora

  and fauna—most of the newcomers soon concluded that their objective should be to

  transform the natives: to make them as much like English Christians as possible. For

  many decades, this objective would form the enduring basis for most of the

  interactions between English and Indian peoples.
</p>

<p>

  Some three decades before Penn’s arrival, guided by Parliament’s 1649 “Act

  for the Promoting and Propagating the Gospel of Jesus Christ in New England”

  missionary John Eliot, who had lived among the Massachusett Indians, and learned the

  vocabulary and structure of their Natick dialect, translated parts of the Bible into this

  Native American tongue, and used this to convert more than 1,000 local Natick Indians.
</p>

<p>

  But as European immigrants became ever-more-numerous, the issue of how

  to co-exist on lands about which Europeans and Native Americans had very

  different notions of “use” and “ownership” became ever-more-critical. William

  Penn’s intention to treat Indians fairly in land “sharing,” was soon over-ridden by

  the land-hunger of Europeans—including some Quakers. Nevertheless, Penn’s

  vision lived on—and continues to live on--in the memory and policies of a

  community of Quakers who have maintained—and continuously updated—their

  commitment to Native Americans.
</p>

<p>

  The infamous “Walking Purchase” (1737) by which William Penn’s sons

  authorized defrauding the Lenape and Allegany Indians of millions of acres of land ,

  betrayed William Penn’s vision, and contributed to the tensions that led to the Seven

  Years’ War. But this sequence of events also had the effect of inspiring Israel

  Pemberton and other Friends in the Philadelphia area to establish the “Friendly

  Association for Regaining and Preserving Peace with the Indians by Pacific

  Measures,” with the goal of restoring the ethical Indian-white relations which Penn

  had envisioned. Thus began a tradition of consistent and persistent advocacy, by

  some Quaker individuals and yearly meetings, that earned Friends as a group the

  reputation of sympathy toward Indian rights. By 1795, Philadelphia Yearly Meeting

  (PYM) had institutionalized the “Friendly Association,’ renaming it the Philadelphia

  Yearly Meeting Indian Committee, which worked closely with the New York Yearly

  Meeting (NYYM) Indian Affairs Committee, which began at approximately the same

  time. These groups aimed to befriend and assist the region’s Native Americans.

  However, modern historians such as Michael Goode, Daniel Richter, Karim Tiro, and

  Jean Soderlund, however, argue that Quakers’ involvement in Indian affairs, during

  and after the Seven Years War, was complex, multifaceted, and not yet fully

  understood.<b>[ii]</b>
</p>

<p>

  In the 1790s, a group of five Quaker men-—Henry Simmons, Halliday Jackson,

  Joel Swayne, John Pierce, and Joshua Sharpless-—formed the early Quaker mission,

  with the aim of introducing English Quaker culture into Seneca communities. Over

  succeeding decades other missionaries followed. Their diaries and reports, as well

  as early Indian Committee records—-correspondence and institutional records

  invite research—-chronicle their hopes and their struggles to understand Indian

  languages, and offer glimpses of both the successes and the challenges of their

  efforts.
</p>

<p>


  Thus, by 1819, when Congress instituted the “Civilization Fund Act,” which

  awarded grants to establish schools to convert Indians to Christianity, the English

  language, and English culture, Quaker organizations had already established a track

  record with many of the regions’ Native American individuals and groups. Within a

  few decades, Indian schools, such as one established at Tunesassa, New York, had

  arisen under the auspices of Quaker philanthropy. Along with other Christian

  denominations, Quakers also headed for the western frontier, where, by the 1860s,

  Enoch Hoag came to the attention of President Ullyses S. Grant, who placed Hoag in

  charge of his Indian “Peace Policy” in Kansas and the Indian Territory of the

  Shawnee, Osage, and several other Indian nations. The goal was to distribute

  supplies and to establish schools that would “Americanize” and “civilize” Indians,

  pursuant to granting them citizenship.
</p>

<p>

  Grant’s controversial policy, which resulted in a decade of frustration for Hoag,

  inspired another Quaker, Helen Hunt Jackson, to write A Century of Dishonor, (1881),

  an embittered history of U.S.-Indian relations. Inspired by Jackson’s work, and by

  Congress’ passage of the Dawes Severalty Act, which sought to force Native

  Americans to give up their communal traditions and to adapt to individual farming,

  New York Quaker Albert K. Smiley convened the Mohonk Conference of Friends of

  the Indian and Other Dependent Peoples, which convened annually, for more than a

  half-century, to consider strategies for managing U.S/Native-American relations.

  Like the Indian Committees, the Mohonk Conferences had idealistic goals, aiming to

  support schools and other projects to teach Indians the skills to survive in modern,

  capitalist society. Even as commentators continue to struggle to assess the

  complexity of the Mohonk Conferences strategies and perspectives, modern Quaker

  individuals and groups continue to understand and to advocate for American

  Indians and their culture. <b>[iii]</b>
</p>
</div>
<br>
<div class=well>

<p>
<b>For further reading:</b>
</p>

<p>
Clyde Milner and Floyd A. O’Neill, eds,  Churchmen and the Western Indians, 1820-1920. (Univ of Oklahoma Press, 1985)
</p>

<p>
Helen Hunt Jackson, A Century of Dishonor. (1881)
</p>

<p>
Lois Barton, A Quaker Promise Kept: Philadelphia Friends’ Work with the Allegany Senecas, 1795-1960 (Eugene Or, 1960) Reviewed by Carol Karlsen, in QH, #81:1, (Spring 1992)
</p>

<p>
Rayner Kelsey, Friends and the Indians (1917) {Full citation needed}
</p>

<p>
Karim Tiro, [article in }Journal of the Early Republic, Fall, 2006 {full citation needed}
</p>

  <p>
Daniel Richter, Facing East from Indian Culture: A Native History of Early America. Cambridge: Harvard University, 2001.
</p>

  <p>
Jean R. Soderlund, Lenape Country: Delaware Valley Society Before William Penn (Philadelphia: University of Pennsylvania Press, 2015)
</p>

<p>
Amy C. Schutt, Peoples of the River Valleys: The Odyssey of the Delaware Indians (Philadelphia: University of Pennsylvania Press, 2007)
</p>
</div>
</div>
</div>



 {% include 'footer.html' %}

 {% include 'bottom-links.html' %}

  </body>
</html>
