{% load staticfiles %}

 <header>
          <div class = "overlay-container">
            <img src="{% static "img/PennsTreaty-Westcrop2.jpg" %}" alt="Header img" />
          <div style="color: white; position: absolute; bottom: 9px;left: 16px; font-family: Alegreya Sans SC; font-size: 60px;" class="bottom-left">Beyond Penn's Treaty</div>
             <div style="margin-bottom:-20px;" class = "overlay1 show-for-small-up">


                                    <form action="/search" method='get'>
                                     <input style="float:right;" class='button' type="submit" value="Search">
                                      <input style="margin:0px; width:200px; height:30px; float:right;"  type="text" name="q">
                                    </form>



                <strong>
                </strong>
              </div>
        </div>




 </header>
