<div id="storymapgrid">
 <ul class="small-block-grid-10 medium-block-grid-10 large-block-grid-10">
  <!--  class="small-block-grid-4 medium-block-grid-4 large-block-grid-4" -->
  <li id="SMListitem">
   <div>
    <img src="../static/img/SW_JC1797_001.jpg"/>
   </div>
   <div>
    <a href="SW_GH1804" id="SMLink">
     SW_GH1804
    </a>
   </div>
  </li>
  <li id="SMListitem">
   <a href="SW_RC1805" id="SMLink">
    SW_RC1805
    <img src="http://placehold.it/200x150">
    </img>
   </a>
  </li>
  <li id="SMListitem">
   <a href="SW_WH1793" id="SMLink">
    SW_WH1793
    <img src="../static/img/SW_JC1797_001.jpg"/>
   </a>
  </li>
  <li id="SMListitem">
   <a href="SW_GH1804" id="SMLink">
    SW_GH1804
    <img src="../static/img/SW_JC1797_001.jpg"/>
   </a>
  </li>
  <li id="SMListitem">
   <a href="SW_JS1798" id="SMLink">
    SW_JS1798
    <img src="../static/img/SW_JC1797_001.jpg"/>
   </a>
  </li>
  <li id="SMListitem">
   <a href="SW_JC1797" id="SMLink">
    SW_JC1797
    <img src="../static/img/SW_JC1797_001.jpg"/>
   </a>
  </li>
  <li id="SMListitem">
   <a href="SW_JC1797" id="SMLink">
    SW_JC1797
    <img src="../static/img/SW_JC1797_001.jpg"/>
   </a>
  </li>
  <li id="SMListitem">
   <a href="SW_JC1797" id="SMLink">
    SW_JC1797
    <img src="../static/img/SW_JC1797_001.jpg"/>
   </a>
  </li>
  <li id="SMListitem">
   <a href="SW_JC1797" id="SMLink">
    SW_JC1797
    <img src="../static/img/SW_JC1797_001.jpg"/>
   </a>
  </li>
  <li id="SMListitem">
   <a href="SW_JC1797" id="SMLink">
    <img src="../static/img/SW_JC1797_001.jpg"/>
    SW_JC1797
   </a>
  </li>
  <li id="SMListitem">
   <img src="../static/img/SW_JC1797_001.jpg"/>
   <div>
    <a href="SW_JC1797" id="SMLink">
     Joseph Clark's Account of a Journey to the Indian Country, 1797
    </a>
   </div>
  </li>
  <li id="SMListitem">
   <a href="SW_GH1804" id="SMLink">
    A Mission to the Indians from the Indian Committee of Baltimore YearlyMeeting to Fort Wayne, in 1804
    <img src="../static/img/SW_GH1804_001.jpg"/>
   </a>
  </li>
  <li id="SMListitem">
   <img src="../static/img/SW_JC1797_001.jpg"/>
   <div id="SMtext">
    <a href="SW_JC1797" id="SMLink">
     Joseph Clark's Account of a Journey to the Indian Country, 1797
    </a>
   </div>
  </li>
  <li id="SMListitem">
   <img src="../static/img/SW_JC1797_001.jpg"/>
   <div id="SMtext">
    <a href="SW_JC1797" id="SMLink">
     Joseph Clark's Account of a Journey to the Indian Country, 1797
    </a>
   </div>
  </li>
  <li id="SMListitem">
   <img src="../static/img/SW_JC1797_001.jpg"/>
   <div id="SMtext">
    <a href="SW_JC1797" id="SMLink">
     Joseph Clark's Account of a Journey to the Indian Country, 1797
    </a>
   </div>
  </li>
  <li id="SMListitem">
   <img src="../static/img/SW_JC1797_001.jpg"/>
   <div id="SMtext">
    <a href="SW_JC1797" id="SMLink">
     Joseph Clark's Account of a Journey to the Indian Country, 1797
    </a>
   </div>
  </li>
  <li id="SMListitem">
   <img src="../static/img/SW_JC1797_001.jpg"/>
   <div id="SMtext">
    <a href="SW_JC1797" id="SMLink">
     Joseph Clark's Account of a Journey to the Indian Country, 1797
    </a>
   </div>
  </li>
  <li id="SMListitem">
   <img src="../static/img/SW_JC1797_001.jpg"/>
   <div id="SMtext">
    <a href="SW_JC1797" id="SMLink">
     Joseph Clark's Account of a Journey to the Indian Country, 1797
    </a>
   </div>
  </li>
  <li id="SMListitem">
   <img src="../static/img/SW_JC1797_001.jpg"/>
   <div id="SMtext">
    <a href="SW_JC1797" id="SMLink">
     Joseph Clark's Account of a Journey to the Indian Country, 1797
    </a>
   </div>
  </li>
  <li id="SMListitem">
   <img src="../static/img/SW_JC1797_001.jpg"/>
   <div id="SMtext">
    <a href="SW_JC1797" id="SMLink">
     Joseph Clark's Account of a Journey to the Indian Country, 1797
    </a>
   </div>
  </li>
  <li id="SMListitem">
   <img src="../static/img/SW_JC1797_001.jpg"/>
   <div id="SMtext">
    <a href="SW_JC1797" id="SMLink">
     Joseph Clark's Account of a Journey to the Indian Country, 1797
    </a>
   </div>
  </li>
  <li id="SMListitem">
   <img src="../static/img/SW_JC1797_001.jpg"/>
   <div id="SMtext">
    <a href="SW_JC1797" id="SMLink">
     Joseph Clark's Account of a Journey to the Indian Country, 1797
    </a>
   </div>
  </li>
  <li id="SMListitem">
   <img src="../static/img/SW_JC1797_001.jpg"/>
   <div id="SMtext">
    <a href="SW_JC1797" id="SMLink">
     Joseph Clark's Account of a Journey to the Indian Country, 1797
    </a>
   </div>
  </li>
  <li id="SMListitem">
   <img src="../static/img/SW_JC1797_001.jpg"/>
   <div id="SMtext">
    <a href="SW_JC1797" id="SMLink">
     Joseph Clark's Account of a Journey to the Indian Country, 1797
    </a>
   </div>
  </li>
  <li id="SMListitem">
   <img src="../static/img/SW_JC1797_001.jpg"/>
   <div id="SMtext">
    <a href="SW_JC1797" id="SMLink">
     Joseph Clark's Account of a Journey to the Indian Country, 1797
    </a>
   </div>
  </li>
  <li id="SMListitem">
   <img src="../static/img/SW_JC1797_001.jpg"/>
   <div id="SMtext">
    <a href="SW_JC1797" id="SMLink">
     Joseph Clark's Account of a Journey to the Indian Country, 1797
    </a>
   </div>
  </li>
  <li id="SMListitem">
   <img src="../static/img/SW_JC1797_001.jpg"/>
   <div id="SMtext">
    <a href="SW_JC1797" id="SMLink">
     Joseph Clark's Account of a Journey to the Indian Country, 1797
    </a>
   </div>
  </li>
  <li id="SMListitem">
   <img src="../static/img/SW_JC1797_001.jpg"/>
   <div id="SMtext">
    <a href="SW_JC1797" id="SMLink">
     Joseph Clark's Account of a Journey to the Indian Country, 1797
    </a>
   </div>
  </li>
  <li id="SMListitem">
   <img src="../static/img/SW_JC1797_001.jpg"/>
   <div id="SMtext">
    <a href="SW_JC1797" id="SMLink">
     Joseph Clark's Account of a Journey to the Indian Country, 1797
    </a>
   </div>
  </li>
  <li id="SMListitem">
   <img src="../static/img/SW_JC1797_001.jpg"/>
   <div id="SMtext">
    <a href="SW_JC1797" id="SMLink">
     Joseph Clark's Account of a Journey to the Indian Country, 1797
    </a>
   </div>
  </li>
  <li id="SMListitem">
   <img src="../static/img/SW_JC1797_001.jpg"/>
   <div id="SMtext">
    <a href="SW_JC1797" id="SMLink">
     Joseph Clark's Account of a Journey to the Indian Country, 1797
    </a>
   </div>
  </li>
  <li id="SMListitem">
   <img src="../static/img/SW_JC1797_001.jpg"/>
   <div id="SMtext">
    <a href="SW_JC1797" id="SMLink">
     Joseph Clark's Account of a Journey to the Indian Country, 1797
    </a>
   </div>
  </li>
  <li id="SMListitem">
   <a href="SW_JC1797" id="SMLink">
    <div id="SMimgdiv">
     <img src="../static/img/SW_JC1797_001.jpg"/>
    </div>
    <div id="SMtext">
     <a href="SW_JC1797" id="SMLink">
      Joseph Clark's Account of a Journey to the Indian Country, 1797
     </a>
    </div>
   </a>
  </li>
  <li id="SMListitem">
   <a href="SW_JC1797">
    <div id="SMimgdiv">
     <img src="../static/img/SW_JC1797_001.jpg"/>
    </div>
    <div id="SMtext">
     <a href="SW_JC1797" id="SMLink">
      Joseph Clark's Account of a Journey to the Indian Country, 1797
     </a>
    </div>
   </a>
  </li>
 </ul>
</div>
