<div id="container">
 <div id="storymapgrid">
  <ul class="small-block-grid-1 medium-block-grid-10 large-block-grid-10">
   <!--  class="small-block-grid-4 medium-block-grid-4 large-block-grid-4" -->
   <li id="SMListitem">
    <a href="SW_JC1797">
     <div id="SMimgdiv">
      <img src="../static/img/1797.png"/>
     </div>
     <div id="SMtext">
      <a href="SW_JC1797" id="SMLink">
       Joseph Clark's Account of a Journey to the Indian Country, 1797
      </a>
     </div>
    </a>
   </li>
   <li id="SMListitem">
    <a href="SW_WH1793">
     <div id="SMimgdiv">
      <img src="../static/img/1793.png"/>
     </div>
     <div id="SMtext">
      <a href="SW_WH1793" id="SMLink">
       Wm. Hartshorne's Journal of Journey to Detroit 1793
      </a>
     </div>
    </a>
   </li>
   <li id="SMListitem">
    <a href="SW_GH1804">
     <div id="SMimgdiv">
      <img src="../static/img/1804.png"/>
     </div>
     <div id="SMtext">
      <a href="SW_GH1804" id="SMLink">
       A Mission to the Indians from the Indian Committee of Baltimore YearlyMeeting to Fort Wayne, in 1804
      </a>
     </div>
    </a>
   </li>
   <li id="SMListitem">
    <a href="SW_RC1805">
     <div id="SMimgdiv">
      <img src="../static/img/1805.png"/>
     </div>
     <div id="SMtext">
      <a href="SW_RC1805" id="SMLink">
       Some Account of Rachel Coope [edited by Joshua Sharpless]
      </a>
     </div>
    </a>
   </li>
   <li id="SMListitem">
    <a href="SW_JS1798">
     <div id="SMimgdiv">
      <img src="../static/img/1798.png"/>
     </div>
     <div id="SMtext">
      <a href="SW_JS1798" id="SMLink">
       Joshua Sharpless's Journal Into Indian Country, 1798
      </a>
     </div>
    </a>
   </li>
  </ul>
 </div>
</div>
