<div id = "container">
<div id="storymapgrid">
 <ul class="small-block-grid-1 medium-block-grid-10 large-block-grid-10">
  <!--  class="small-block-grid-4 medium-block-grid-4 large-block-grid-4" -->
  
<li id="SMListitem">
   <div>
    <a href="SW_WH1793" id="SMLink">
     <div>
     Wm. Hartshorne's Journal of Journey to Detroit, 1793
     </div>
<br>
<div id = "borderimg4">
     <img src = "/static/img/1793.png">
</div>
</br>
   </a>
  </div>
 </li>

 <li id="SMListitem">
  <div>
   <a href="SW_JC1797" id="SMLink">
    <div>
     Joseph Clark's Account of a Journey to the Indian Country, 1797
    </div>
<div id = "borderimg4">
     <img src = "/static/img/1797.png">
</div>
   </a>
  </div>
 </li>


 <li id="SMListitem">
  <div>
   <a href="SW_JS1798" id="SMLink">
    <div>
    Joshua Sharpless's Journal Into Indian Country, 1798
   </div>
<br>
<div id = "borderimg4">
    <img src = "/static/img/1798 crop.png">
</div>
</br>
   </a>
  </div>
 </li>

<li id="SMListitem">
   <div>
    <a href="SW_GH1804" id="SMLink">
     <div>     
      A Mission to the Indians from the Indian Committee of Baltimore, 1804
     </div>
<div id = "borderimg4">
      <img src = "/static/img/1804.png">  
<div> 
    </a>
   </div>
  </li>

  <li id="SMListitem">
   <div>
    <a href="SW_RC1805" id="SMLink">
     <div>
     Some Account of Rachel Coope, 1805
     </div>
<br>
<div id = "borderimg4">
     <img src = "/static/img/1805 crop.png">
</div>
</br>
    </a>
   </div>   
  </li>

</ul> 
</div>
</div> 
