<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

{% load staticfiles %}

<!doctype html>

<html class="no-js" lang="en">


  <head>


  {% include 'top-links.html' %}

    <title>Profiles </title>


  </head>

  <body>

    {% include 'header.html' %}

<div id = "row1">
<!--     Navigation Menu Below:  -->

  {% include 'nav.html' %}

</div>

<div id = "row2">


  <div class = "row">
    <br />
    <h1>{{manu.title}}</h1>
    <br />
  </div>

</div>

<div id = "row3">
<div class="content container">
<br>
<div class=col-sm-6>
<div class=well>
<img style="width:500px" src="/static/img/{{manu.id_tei}}_001.png">
<p> <b><a href="/page/{{manu.id_tei}}_001">Page 1</a></b> of {{manu.title}}</p>
</div>

</div>
<div class=col-sm-6>
  <div class=well>
<p><b style>Title:</b> {{manu.title}}</p>
<p><b>Author:</b><a href="/person/{{Author.id_tei}}"> {{Author.first_name}} {{Author.last_name}}</a></p>
<p><b>Date:</b> {{manu.date}}</p>
<p style="text-transform:capitalize"><b>Type of Manuscript:</b> {{manu.type_of_Manuscript}} </p>
<p><b>Call Number:</b> {{manu.call_no}}</p>

<div class="panel-group">
    <div class="panel panel-default">
    <div class="panel-heading" style="background-color:#E8EDF6">
      <h4 class="panel-title">

        <a data-toggle="collapse" href="#collapse{{manu.id_tei}}"> <b><font color =#008CBA face='Open Sans'>Explore this manuscript</font></b></a>

      </h4>
    </div>


    <div id="collapse{{ manu.id_tei }}" class="panel-collapse collapse">
      <ul class="list-group">

    {% for page in allpages %}

<li class = "list-group-item">
              <a href ='/page/{{ page.id_tei }}'> Page {{forloop.counter}} </a>
</li>



    {% endfor %}

  </ul>
</div>

</div>
</div>

</div>

</div>


</div>
</div>


 {% include 'footer.html' %}

 {% include 'bottom-links.html' %}

  </body>
</html>
