<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

{% load staticfiles %}

<!doctype html>

<html class="no-js" lang="en">


  <head>


  {% include 'top-links.html' %}

    <title>Manuscript</title>


  </head>

  <body>

    {% include 'header.html' %}

<div id = "row1">
<!--     Navigation Menu Below:  -->

  {% include 'nav.html' %}

</div>

<div id = "row2">


  <div class = "row">
    <br />
    <h1>{{manu.title}}</h1>
    <br />
  </div>

</div>

<div id = "row3">
<div class="content container">
<br>
<div class=col-sm-6>
<div class=well>
<a href="/page/{{manu.id_tei}}_001"><img style="width:500px" src="/static/img/{{manu.id_tei}}_001.jpg"></a>
<p> <b><a href="/page/{{manu.id_tei}}_001">Page 1</a></b> of {{manu.title}}</p>
</div>

</div>
<div class=col-sm-6>
  <div class=well>
<p style='text-align:left'><b>Title:</b> {{manu.title}}</p>
<p style='text-align:left'><b>Author:</b>

{% if manu.person_id == None %}
Unknown </p>

{% else %}
<a href="/person/{{manu.person_id.id_tei}}"> {{manu.person_id.first_name}} {{manu.person_id.last_name}}</a></p>

{% endif %}

<p style='text-align:left'><b>Date:</b> 

{% if manu.date == "" %} 
Unknown

{% else %}
{{manu.date}}

{% endif %}
</p>
<p style="text-transform:capitalize;text-align:left"><b>Type of Manuscript:</b>

{% if manu.type_of_Manuscript == "" %}

Unknown

{% else %}

 {{manu.type_of_Manuscript}}

{% endif %}

 </p>
<p style='text-align:left'><b>Call Number:</b> 

{% if manu.call_no == "" %}
None

{% else %}
{{manu.call_no}}

{% endif %}
</p>

<div class="panel-group">
    <div class="panel panel-default">
    <div class="panel-heading" style="background-color:#E8EDF6">
      <h4 class="panel-title">

        <a data-toggle="collapse" href="#collapse{{manu.id_tei}}"> <b><font color =#008CBA face='Open Sans'>Explore this manuscript</font></b></a>

      </h4>
    </div>


    <div id="collapse{{ manu.id_tei }}" class="panel-collapse collapse">
      <ul class="list-group">

    {% for page in allpages %}

<li class = "list-group-item">
              <a href ='/page/{{ page.id_tei }}'> Page {{forloop.counter}} </a>
</li>



    {% endfor %}

  </ul>
</div>

</div>
</div>

<p style='text-align:left'><a href=/outputManuPT/{{manu.id_tei}}>→ Download raw text of this manuscript</a></p>

</div>

</div>


</div>
</div>


 {% include 'footer.html' %}

 {% include 'bottom-links.html' %}

  </body>
</html>
