
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
<link href="https://fonts.googleapis.com/css?family=Satisfy" rel="stylesheet">
{% load staticfiles %}

<!doctype html>
<html class="no-js" lang="en">

<head>


  {% include 'top-links.html' %}

    <title>Manuscript</title>

<style>
.item-metadata {
  border-left: 4px solid #f2c579;
  color: #333333;
  padding: 0 10px;
  height:870px;
}

.item-metadata p:last-child {
  margin-bottom: 0;
  margin-right:100px
}

.item-metadata .meta-title {
  font-weight: 800;
  border-bottom: 3px solid #f2c579;
  display: block;
  width: 100%;
  text-transform: uppercase;
  font-size: 17px;
  letter-spacing: 2px;
  font-family: 'Satisfy', 'cursive';
}

.manu_column {
    float: left;
    width: 50%;
    padding: 10px;
    margin-top:40px;
    overflow:auto;
}

</style>

</head>

<body> 
{% include 'header.html' %}

<div id = "row1">
<!--     Navigation Menu Below:  -->

  {% include 'nav.html' %}

</div>

<div id = "row2">

  <div class = "row">
    <br />
    <h1>{{manu.title}}</h1>
    <br />
  </div>

</div>

<div id = "row1" style="background-color:ffffff;" class="content container">
  <div class="manu_column">
    <div class=well>
      <a href="/page/{{manu.id_tei}}_001"><img style="width:500px" src="/static/img/{{manu.id_tei}}_001.jpg"></a>
      <p> <b><a href="/page/{{manu.id_tei}}_001">Page 1</a></b> of {{manu.title}}</p>
    </div>

  </div>

  <div class="item-metadata manu_column">
    <nav class="sticky-top">
      <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true"><b>METADATA</b></a>
        <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false"><b>PAGES</b></a>
      </div>
    </nav>
    <br>
    <div class="tab-content" id="nav-tabContent">

      <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
        <p>
          <span class="meta-title">Title</span>
             {{ manu.title }}
        </p>
                        
        <p>
          <span class="meta-title">Author</span>
             {% if manu.person_name == "" and not manu.org_name == "" %}
             <a href=/org/{{manu.org_id.id_tei}}> {{manu.org_name}}</a>
             {% elif manu.org_name == "" and not manu.person_name == "" %}
             <a href=/person/{{manu.person_id.id_tei}}> {{manu.person_id.first_name}} {{manu.person_id.last_name}} </a> 
                                                            {% else %}
                                                    <td> Unknown </td>
                                                            {% endif %}   
        </p>

        <p>
          <span class="meta-title">Date</span>
          
            {% if manu.date == "" %} 
             Unknown

            {% else %}
             {{manu.date}}

            {% endif %}
        </p>
    
        <p>
          <span class="meta-title"> Type of Manuscript</span> 
       
           {% if manu.type_of_Manuscript == "" %}
           Unknown

           {% else %}
           {{manu.type_of_Manuscript}}

           {% endif %}

        </p>
   
        <p>
          <span class="meta-title">Call Number</span>
        
            {% if manu.call_no == "" %}
            None
 
          {% else %}
           {{manu.call_no}}

          {% endif %}

        </p>
   
        <p> 
          <span class="meta-title">Location</span>     
            {% if manu.location in "SWATHMORE" or "Swathmore" %}
            Swarthmore College
            {% else %} 
            Haverford College
            {% endif %}
        </p>

        <p>
          <span class="meta-title">Summary</span>
       
           {% if manu.summary == "" %}
            None
           {% else %}
            {{manu.summary}}
           {% endif %}
        </p>

        <p style='text-align:left'><a href=/outputManuPT/{{manu.id_tei}}>→ Download raw text of this manuscript</a></p>
  
      </div>

      <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="search" vlaue="{{search_term}}">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
      <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">   
        <div class="panel-group">
          <div class="panel panel-default">

            <div>   
              <ul class="list-group">

                 {% for page in allpages %}

                <li class = "list-group-item">
                <a href ='/page/{{ page.id_tei }}'> Page {{forloop.counter}} </a>
                </li>
  
                 {% endfor %}

              </ul>
            </div>
          </div>
        </div>
      </div>
    </div> 
  </div>
</div>

<div>
  {% include 'footer.html' %}

  {% include 'bottom-links.html' %}
</div>
</body>
</html>
