<div class='cartodb-legend category'>	
<div class="legend-title">Select a Person</div>
<ul>
	<li>
		<div class="bullet" style="background: #A6CEE3"></div> Gerard Hopkins
	</li>
	<li>
		<div class="bullet" style="background: #1F78B4"></div> Halliday Jackson
	</li>
	<li>
		<div class="bullet" style="background: #B2DF8A"></div> Isaac Coates
	</li>
	<li>
		<div class="bullet" style="background: #33A02C"></div> Joshua Evans
	</li>
	<li>
		<div class="bullet" style="background: #FB9A99"></div> Joshua Sharpless
	</li>
	<li>
		<div class="bullet" style="background: #E31A1C"></div> Rachel Coope
	</li>
	<li>
		<div class="bullet" style="background: #FDBF6F"></div> Robert Sutcliffe
	</li>
	<li>
		<div class="bullet" style="background: #FF7F00"></div> Sarah Emlen
	</li>
	<li>
		<div class="bullet" style="background: #CAB2D6"></div> William Allinson
	</li>
	<li>
		<div class="bullet" style="background: #6A3D9A"></div> William Hartshorne
	</li>
	<li>
		<div class="bullet" style="background: #DDDDDD"></div> Others:
	</li>
    		<li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Cornplanter</li>
    		<li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;David Bacon</li>
    		<li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Dorothy Ripley</li>
    		<li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;David Fowler</li>
    		<li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Jacob Lindley</li>
    		<li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;James Cooper</li>
    		<li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;John Pierce</li>
  			<li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;John Parrish</li>
    		<li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Jonathan Thomas</li>
    		<li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Henry Simmons</li>
    		<li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Joseph Clark</li>
    		<li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Joseph Moore</li>
    		<li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Thomas Eddy</li>
</ul>
</div>