
<!--<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">-->

<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>

<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
-->
{% load static %}

<!doctype html>

<html class="no-js" lang="en">

  <head>


    <title>Mapgallery</title>

  </head>

  <body>
    {% include 'top-links.html' %}

    {% include 'header.html' %}

<div id="row1">


  {% include 'nav.html' %}


</div>

<div id='row2'>
<br>
<h1>Map Gallery</h1>
<br>

</div>

<div id = 'row3'>
<br>
<div class = "row">
<div class="well">
<p>Maps were very important to the Quakers in the 18th and 19th centuries. Travelling ministers frequently carried manuscript maps showing the roads and the distances between Quaker meeting houses. But they also carried printed maps as well. Isaac Coates, for instance, showed Reading Howell's map of Pennsylvania (first published in 1790s) to Cornplanter in 1798. Some of the manuscript maps in this collection were copied from earlier printed versions.
</p>
</div>
</div>
<ul class="small-block-grid-1 medium-block-grid-3 large-block-grid-5 clearing-thumbs" data-clearing>

     <li><a class="th" href="{% static "img/MapGalleryPictures/editedmapofNewJersey2.jpg" %}" alt="New Jersey img"><img data-caption="A Map of New Jersey<br>Drawn by Hannah Yarnall (1797-1876), ca. 1810<br>Ink and watercolor on paper<br>Gift of Frances Richardson, 1966<br>Note:Shows ferry locations along the Delaware River" src="/static/img/MapGalleryPictures/thumbs/editedmapofNewJersey.jpg" alt="New Jersey img" /> </a><br><p>A Map of New Jersey<br>1810</p></li>

     <li><a class="th" href="{% static "img/MapGalleryPictures/editedmapofOhio2.jpg" %}" alt="Map of the meetings of Friends in Ohio"><img data-caption ="A Map of the Meetings of Friends in Ohio Yearly Meeting,1827<br>Possible drawn by Horton Howard,1827<br>Ink and watercolor on paper <br>Note: Includes a summary of the Ohio Yearly Meeting quarters with numbers of meetings in each and membership therein" src="/static/img/MapGalleryPictures/thumbs/editedmapofOhio.jpg" alt="Map of the meetings of Friends in Ohio" /></a><br><p>A Map of the Meetings of Friends in Ohio Yearly Meeting<br>1827</p></li>

     <li><a class="th" href="{% static "img/MapGalleryPictures/editedmapofboundarylocationsMarsh.jpg" %}"><img data-caption = "A Map of North America denoting the Boundaries of the Yearly Meetings of Friends and the Location of the Various Indian Tribes<br> Engraved by H. Clark and drawn by James Bowden,1844<br> Note: Originally bound in <i>Some Account of the Conduct of the Religious Society of Friends Towards the Indian Tribes </i>" src="/static/img/MapGalleryPictures/thumbs/editedmapofboundarylocationsMarsh.jpg" %}"alt="Map denoting boundaries of Yearly Meetings of Friends" /></a><br><p>A Map of North America denoting the Boundaries of the Yearly Meetings of Friends and the Location of the Various Indian Tribes<br>1844</p></li>

     <li><a class="th" href="{%static "img/MapGalleryPictures/editedmapCTandRI.jpg" %}"><img data-caption = "Map of Rhode Island and Connecticut <br> Late 18th- early 19th Century<br>Ink on paper" src="/static/img/MapGalleryPictures/thumbs/editedmapCTandRI.jpg" alt="Map of Connecticut and Rhode Island" /></a><br><p>Map of Rhode Island and Connecticut <br> Late 18th- early 19th Century</p></li>

     <li><a class="th" href="{%static "mg/MapGalleryPictures/editedmapFriendsmeetingssouthward.jpg" %}"><img data-caption = "Map of Friends Meetings to the Southward <br> Late 18th- early 19th century <br> Ink on paper <br> Note: Shows Quaker meeting locations in parts of Baltimore, Virginia, and North Carolina Yearly Meetings, and distances between meeting houses" src="/static/img/MapGalleryPictures/thumbs/editedmapFriendsmeetingssouthward.jpg"  alt="Map_of_Friends_meetings_to_the_southward" /></a><br><p>Map of Friends Meetings to the Southward <br> Late 18th- early 19th century</p></li>

<!--     <li><a class="th" href="/static/img/MapGalleryPictures/editedMap_of_Meetings_from_New_York_to_Boston_A.jpg"><img data-caption = "A Map of Meetings from New York to Boston- Front<br>Late 18th- early 19th century<br>Gift of Friends Historical Association,1944<br>Note: Includes chart of mileage" src="/static/img/MapGalleryPictures/thumbs/editedMap_of_Meetings_from_New_York_to_Boston_A.jpg" alt="Map_of_Meetings_from_New_York_to_Boston_A" /></a><br><p>A Map of Meetings from New York to Boston- Front<br>Late 18th- early 19th century</p></li>

     <li><a class="th" href="/static/img/MapGalleryPictures/editedMap_of_Meetings_from_New_York_to_Boston_B.jpg"><img data-caption = "A Map of Meetings from New York to Boston- Back<br>Late 18th- early 19th century<br>Preliminary sketch of a map of the area surrounding Kayaderosseras (Warren County,NY)" src="/static/img/MapGalleryPictures/thumbs/editedMap_of_Meetings_from_New_York_to_Boston_B.jpg" alt="Map_of_Meetings_from_New_York_to_Boston_B" /></a><br><p>A Map of Meetings from New York to Boston- Back<br>Late 18th- early 19th century</p></li>

     <li><a class="th" href="/static/img/MapGalleryPictures/editedMap_in_contiguous_parts_of_Pennsyl.jpg"><img data-caption = "A Map of the Meetings in the Contiguous Parts of Pennsylvania, Virginia, and Ohio<br> Possibly drawn by Horton Howard, late 18th- early 19th century<br>Ink on paper" src="/static/img/MapGalleryPictures/thumbs/editedMap_in_contiguous_parts_of_Pennsyl.jpg" alt="Map_of_meetings_in_the_contiguous_parts_of_Pennsyl" /></a><br><p>A Map of the Meetings in the Contiguous Parts of Pennsylvania, Virginia, and Ohio<br> Late 18th- early 19th century</p></li>

     <li><a class="th" href="/static/img/MapGalleryPictures/editedMap_of_Rhode_Island_Yearly_Meeting_A.jpg"><img data-caption = "A Map of Rhode Island Yearly Meeting held at Newport ye 2nd 6 day &c. Composed of 3 Quart Meetings- Front<br>Late 18th- early 19th century<br> Ink on paper<br>Gift of Friends Historical Association,1944" src="/static/img/MapGalleryPictures/thumbs/editedMap_of_Rhode_Island_Yearly_Meeting_A.jpg" alt="Map_of_Rhode_Island_Yearly_Meeting_A" /></a><br><p>A Map of Rhode Island Yearly Meeting- Front<br> Late 18th- early 19th Century</p></li>

     <li><a class="th" href="/static/img/MapGalleryPictures/editedMap_of_Rhode_Island_Yearly_Meeting_B.jpg"><img data-caption = "A Map of Rhode Island Yearly Meeting held at Newport ye 2nd 6 day &c. Composed of 3 Quart Meetings- Back<br>Late 18th- early 19th century<br>Includes a circular diagram of the constituent quarterly meetings each with their monthly and preparative meetings; map shows distances between meeting houses" src="/static/img/MapGalleryPictures/thumbs/editedMap_of_Rhode_Island_Yearly_Meeting_B.jpg" alt="Map_of_Rhode_Island_Yearly_Meeting_B" /></a><br><p>A Map of Rhode Island Yearly Meeting- Back<br> Late 18th- early 19th Century</p></li>

     <li><a class="th" href="/static/img/MapGalleryPictures/editedMap_of_Route_to_Lake_Ontario.jpg"><img data-caption = "A Map of the Route to Lake Ontario<br>1808<br>Ink on paper<br>Note: Particularly descriptive of Quaker meetings in Canada; shows general locations of Indian tribes and a rough inset map of the area around Navy Hall" src="/static/img/MapGalleryPictures/thumbs/editedMap_of_Route_to_Lake_Ontario.jpg" alt="Map_of_Route_to_Lake_Ontario" /></a><br><p>A Map of the Route to Lake Ontario<br>1808</p></li>

     <li><a class="th" href="/static/img/MapGalleryPictures/editedMapofcolonies.jpg"><img data-caption = "A Map of the Colony of Connecticut with Parts of New York, Rhode Island, and Massachusetts<br>Ca.1755<br>Engraving on paper<br>Note: Possibly an American reprint of the Thomas Jefferson map of <i>The Most Inhabited Part of New England</i>, originally published in 1755" src="/static/img/MapGalleryPictures/thumbs/editedMapofcolonies.jpg" alt="Map_of_the_colonies_of_Rhode_Island,_Connecticut,_and_parts_of_Massachusetts_and_New_York" /></a><br><p>A Map of the Colony of Connecticut with Parts of New York, Rhode Island, and Massachusetts<br>1755</p></li>

     <li><a class="th" href="/static/img/MapGalleryPictures/editedMapBetweenBurligtonandBoston.jpg"><img data-caption = "A Map of the area between Burlington and Boston<br>Ca.1800<br>Ink on paper<br>Note: Shows part of the area between Albany and Lake Erie" src="/static/img/MapGalleryPictures/thumbs/editedMapBetweenBurligtonandBoston.jpg" alt="Map_of_the_Country_Between_Burligton__and_Boston" /></a><br><p> Map of the area between Burlington and Boston<br>1800</p></li>

    <li><a class="th" href="/static/img/MapGalleryPictures/editedMap_of_the_United_States_Newlin.jpg"><img data-caption = "A Map of the United States <br> Drawn by H.A. Newlin, June 4,1823<br> Ink and watercolor on paper" src="/static/img/MapGalleryPictures/thumbs/editedMap_of_the_United_States_Newlin.jpg" alt="Map_of_the_United_States_Newlin" /></a><br><p>A Map of the United States <br>1823</p></li>

    <li><a class="th" href="/static/img/MapGalleryPictures/map_cayuga_reservation_1795.jpg"><img data-caption = "A Map of the late Cayuga Reservation <br> Surveyed into lots generally of 250 acres each, anno 1795" src="/static/img/MapGalleryPictures/thumbs/map_cayuga_reservation_1795_cropped.jpg" alt="A Map of the late Cayuga Reservation" /></a><br><p>A Map of the late Cayuga Reservation <br>1795</p></li>

    <li><a class="th" href="/static/img/MapGalleryPictures/map_province_pensilvania_1756.jpg"><img data-caption = "A Map of the province of Pensilvania <br> Drawn from the best authorities by T. Kitchin, 1756" src="/static/img/MapGalleryPictures/thumbs/map_province_pensilvania_1756_cropped.jpg" alt="A Map of the province of Pensilvania" /></a><br><p>A Map of the province of Pensilvania <br>1756</p></li>
-->

</ul>

</div>
</div>
</div>
</div>
{% include 'bottom-links.html' %}
</body>
</html>
