<div id="storymapcontainer">
<div id="storymapgrid">
    <ul class="small-block-grid-1 medium-block-grid-12 large-block-grid-12">
			<div class="large-4 columns">		
			   <li id="SMListitem">
					<a href="SW_JC1797">
						<div id="SMimgdiv">
							<img src="../static/img/1797.png"/>
						</div>
						<div id="SMtext">
							<a href="SW_JC1797" id="SMLink">
							Joseph Clark's Account of a Journey to the Indian Country, 1797
							</a>
						</div>
					</a>
				</li>			
			</div>	
			<div class="large-4 columns">		
				<li id="SMListitem">
					<a href="SW_WH1793">
						<div id="SMimgdiv">
							<img src="../static/img/1793.png"/>
						</div>
						<div id="SMtext">
							<a href="SW_WH1793" id="SMLink">
							Wm. Hartshorne's Journal of Journey to Detroit 1793
							</a>
						</div>
					</a>
				</li>
			</div>	
			<div class="large-4 columns">		
			     <li id="SMListitem">
					<a href="SW_GH1804">
						<div id="SMimgdiv">
							<img src="../static/img/1804.png"/>
						</div>
						<div id="SMtext">
							<a href="SW_GH1804" id="SMLink">
							A Mission to the Indians from the Indian Committee of Baltimore Yearly Meeting to Fort Wayne, in 1804
							</a>
						</div>
					</a>
				</li>			
			</div>	
			<div class="large-4 columns">		
				<li id="SMListitem">
					<a href="SW_RC1805">
						<div id="SMimgdiv">
							<img src="../static/img/1805.png"/>
						</div>
						<div id="SMtext">
							<a href="SW_RC1805" id="SMLink">
							Some Account of Rachel Coope [edited by Joshua Sharpless]
							</a>
						</div>
					</a>
				</li>		
			</div>	
			<div class="large-4 columns">		
				<li id="SMListitem">
					<a href="SW_JS1798">
						<div id="SMimgdiv">
							<img src="../static/img/1798.png"/>
						</div>
						<div id="SMtext">
							<a href="SW_JS1798" id="SMLink">
							Joshua Sharpless's Journal Into Indian Country, 1798
							</a>
						</div>
					</a>
				</li>		
			</div>				
	</ul>
</div>
</div>
