{% load staticfiles %}
<!doctype html>
<html class="no-js" lang="en">
<head>
{% include 'top-links.html' %}
<title>Organization info</title>
</head>

<body>

    <header>
            <div class = "overlay-container">
              <img src="{% static "img/qandi.png" %}" alt="Header img" />
                <div class = "overlay1 show-for-large-up">
                  <strong>Person, Place &amp; Organization Profiles</strong>
                </div>
          </div>

      </header>


    <div id = "about1">
    	{% include 'nav.html' %}
    </div>


<div id = "about2">
    <div id = "main-content">


        <div type= "letter" class = "panel radius">
           <h2 class = "text-center">organization information</h2>
           <!-- <p><b>Name:</b> {{ org.organization_name }}</p> -->
           <p><b>Associated Spellings:</b> {{ org.associated_spellings }}</p>
           <p><b>Other Names:</b> {{ org.other_names }}</p>
           <p><b>Date Founded:</b> {{ org.date_founded }}</p>
           <p><b>Date Dissolved:</b> {{ org.date_dissolved }}</p>
  <!--     <p><b>Place ID:</b> <a href='/place/'+{{ place.id_tei }}> {{ place.name }}  </a> </p> -->
           <p><b>Place ID:</b> {{ org.place_id }}</p>  <!-- replace with the above one!! -->
           <p><b>Notes:</b> {{ org.notes }}</p>

           <p><i>note: i'm unsure what else to place here, but i'll wait til all the
           data is in the database to figure that out</i></p>

           <a href="{% url 'Person Profiles' %}"> &rarr; back to list of profiles</a>
          </div>
        </div>

</div>

{% include 'footer.html' %}

{% include 'bottom-links.html' %}


</body>
</html>
