<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

{% load staticfiles %}

<!doctype html>

<html class="no-js" lang="en">


  <head>


  {% include 'top-links.html' %}

    <title>Profiles </title>


  </head>

  <body>

    {% include 'header.html' %}

<div id = "row1">
<!--     Navigation Menu Below:  -->

  {% include 'nav.html' %}

</div>


<div id = "row3">

  <div id = "profiles1">

   <ul class="tabs" data-tab>
     <li class="tab-title active"><a href="#panel1">Map 1</a></li>
     <li class="tab-title"><a href="#panel2">Map 2</a></li>
     <li class="tab-title"><a href="#panel3">Map 3</a></li>
   </ul>

   <div class="tabs-content">
     <div class="content active" id="panel1">
      <div class = "row full-width">

<!-- CONTENT! -->

     </div>
   </div>
     <div class="content" id="panel2">
       <div class = "row full-width">

<!-- CONTENT! -->

     </div>
   </div>
     <div class="content" id="panel3">
       <div class = "row full-width">

<!-- CONTENT! -->

     </div>
     </div>
   </div>

 </div>





</div>



 {% include 'footer.html' %}

 {% include 'bottom-links.html' %}

  </body>
</html>
