{% load staticfiles %}
<!doctype html>

<html class="no-js" lang="en">
  <head>
    {% include 'top-links.html' %}
    <title>Page Information</title>
  </head>
  <body>
    <div class='stufftoinclude'>
      {% include 'header.html' %}
    </div>
    <div id="row2">
      <br>
    </div>
	
    <div id="about2">
      <aside class="off-canvas" style="margin-right: -25%;"></aside>
      <i class="fa fa-times"></i>
      <div class="row">
        <h2 style="text-align:center;">Metadata</h2>
        <div class="large-2 columns">
          <h4>Name of Document</h4>
          <p>{{ manuscript.title }}</p>
        </div>
        <div class="large-2 columns">
          <h4>Creator</h4>
          <p>{{ manuscript.person_name }}</p>
        </div>
        <div class="large-2 columns">
          <h4>Date</h4>
          <p>{{ manuscript.date }}</p>
        </div>
        <div class="large-2 columns">
          <h4>Type of Document</h4>
          <p>{{ manuscript.type_of_Manuscript }}</p>
        </div>
        <div class="large-2 columns end">
          <h4>Call Number</h4>
          <p>{{ manuscript.call_no }}</p>
        </div>
      </div>
      <div class="stufftoinclude row main-wrapper">
        <aside class="forwards-arrow" style="margin-left: -25%;">
          <i class="fa fa-chevron-left"></i>
          <i class="fa fa-chevron-right"></i>
        </aside>
        <div id="imgDiv" class="large-5 columns">
        </div>
        <div id="transcriptionDiv" class="large-5 columns end">
        </div>
      </div>
      <div class='container'>
        <a href=/outputPagePT/{{page.id_tei}}>→ Download raw text of this page</a>
      </div>
      {% include 'footer.html' %}
      {% include 'bottom-links.html' %}
      <script type="text/javascript" >
        var Manuscript_id = '{{ manuscript.id_tei }}';
        var img_url = '{{ page.img_url }}';
        var Page_id = '{{ Page_id }}';
        var lastpage = '{{ lastpage }}';
      </script>
      <script src="{% static "js/cornplanter.js" %}"></script>
    </div>
  </body>
</html>
