{% load staticfiles %}
<!doctype html>
<html class="no-js" lang="en">
<head>
{% include 'top-links.html' %}
<title>Organization info</title>
</head>

<body>

    <header>
            <div class = "overlay-container">
              <img src="{% static "img/qandi.png" %}" alt="Header img" />
              <div class = "overlay1 show-for-large-up">
            <strong>Beyond Penn's Treaty</strong>
              </div>
          </div>

      </header>


    <div id = "about1">
    	{% include 'nav.html' %}
    </div>


    <div id = "about2">

      <aside class = "canvas-meta">
        <p> Metadata &nbsp; <i class="fa fa-chevron-right"></i>
        </p>
      </aside>
      <aside class = "canvas-img">
        <p> Image &nbsp; <i class="fa fa-chevron-right"></i>
        </p>
      </aside>
      </aside>
      <aside class="off-canvas-content-meta" style = "margin-left: -25%;"> </aside>
      <aside class="off-canvas-content-img" style = "margin-left: -25%;">
        <div class='original-image-wrapper'>
            <aside class="forwards-arrow" style = "margin-left: -25%;">
              <i class="fa fa-chevron-right"></i>
              <i class="fa fa-chevron-left"></i>
            </aside>
        </div>
      </aside>

      <aside class="off-canvas" style = "margin-right: -25%;"></aside>
      <i class="fa fa-times"></i>

        <div id = "main-content">


            <div type= "letter" class = "panel radius">

              {{ page.fulltext }}

            </div>
          </div>

  </div>


  {% include 'footer.html' %}
  {% include 'bottom-links.html' %}
  
 <script src="{% static "js/cornplanter.js" %}"></script>

  </body>
  </html>
