<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

{% load staticfiles %}

<!doctype html>

<html class="no-js" lang="en">


  <head>


  {% include 'top-links.html' %}

    <title>Profiles </title>


  </head>

  <body>

    {% include 'header.html' %}

<div id = "row1">
<!--     Navigation Menu Below:  -->

  {% include 'nav.html' %}

</div>

<div id = "row2">
  <div class = "row">
    <br />
    <h1>{{ person.first_name }} {{ person.last_name }}</h1>
    <br />
  </div>

</div>

<div id = "row3">
  <div class = "row full-width text-center">
    <br />

    <div class = "large-6 medium-6 small-12 columns">

        <h3> Profile</h3>


          <p class="text-left"><b>Other Names:</b> {{ person.other_names }} </p>
          <p class="text-left"><b>Assumed Gender:</b> {{ person.gender }} </p>
          <p class="text-left"><b>Birth Date:</b> {{ person.birth_date }} </p>
      <!--    <p class="text-left"><b>Birth Place:</b> <a href='/place/'+{{ birthplace.id_tei }}>  {{ birthplace.name }} </a> </p>  -->
          <p class="text-left"><b>Birth Place:</b> {{ person.birth_place }} </p> <!-- switch this one with the above 1 -->

          <p class="text-left"><b>Death Date:</b> {{ person.death_date }} </p>
    <!-- <p class="text-left"><b>Death Place:</b> <a href='/place/'+{{ deathplace.id_tei }}> {{ deathplace.name }} </a> </p> -->
          <p class="text-left"><b>Death Place:</b> {{ deathplace.name }} </p> <!--switch this one with the above 1-->
          <p class="text-left"><b>Affiliations:</b> {{  person.affiliations }} </p>

          <p class="text-left"><b>Notes:</b> {{ person.bio_notes }}</p>

          <p class="text-left"><a href="{% url 'Person Profiles' %}"> &rarr; go back to list of profiles</a></p>

  </div>
    <div class = "large-6 medium-6 small-12 columns">
      <div id="borderimg2" class = "show-for-medium-up">
        <ul class="small-block-grid-1 medium-block-grid-1 large-block-grid-1">

          <h3> Related Documents </h3>


{% for manuscript in allmanuscripts %}

<div class="panel-group">
    <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">

        <a data-toggle="collapse" href="#collapse{{ manuscript.title }}"> <b><font color =#008CBA face='Open Sans'>{{ manuscript.title }}</font></b> </a>

      </h4>
    </div>


    <div id="collapse{{ manuscript.title }}" class="panel-collapse collapse">
      <ul class="list-group">

    {% for page in allpages %}

        {% if page.Manuscript_id == manuscript %}
<li class = "list-group-item">
              <a href ='/page/{{ page.id_tei }}'> {{ page.id_tei }} </a>
</li>
        {% endif %}

    {% endfor %}
  </ul>
</div>
</div>
</div>

{% endfor %}



        </ul>
    </div>
  </div>
  <div class = "large-6 medium-6 small-12 columns">
      <div id="borderimg3" class = "show-for-small-down">
        <ul class="small-block-grid-1 medium-block-grid-1 large-block-grid-1">



                    <h3> Related Documents </h3>


          {% for manuscript in allmanuscripts %}

          <div class="panel-group">
              <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">

                  <a data-toggle="collapse" href="#collapse{{ manuscript.title }}2"> <b><font face='Open Sans' color =#008CBA>{{ manuscript.title }}</font></b> </a>

                </h4>
              </div>


              <div id="collapse{{ manuscript.title }}2" class="panel-collapse collapse">
                <ul class="list-group">

              {% for page in allpages %}

                  {% if page.Manuscript_id == manuscript %}
          <li class = "list-group-item">
                        <a href ='/page/{{ page.id_tei }}'> {{ page.id_tei }} </a>
          </li>
                  {% endif %}

              {% endfor %}
            </ul>
          </div>
          </div>
          </div>

          {% endfor %}


        </ul>
    </div>
  </div>
    <br />

  </div>
</div>

 {% include 'footer.html' %}

 {% include 'bottom-links.html' %}

  </body>
</html>
