{% load staticfiles %}
<!doctype html>
<html class="no-js" lang="en">

 <style>
.button{
      background-color:#d2d2d2 !important;
	  color:#222222 !important;
}
div.dataTables_wrapper, div.dataTables_length label {
	margin-bottom: 10px !important;
    margin-top: 10px !important;
}
</style>

<!-- for the csv, pdf, etc buttons -->
  <head>
     <!-- this is the css styling for datatables (it is a foundation library/datatable compatible thing) --> 
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/r/zf-5.5.2/jq-2.1.4,jszip-2.5.0,pdfmake-0.1.18,dt-1.10.9,b-1.0.3,b-colvis-1.0.3,b-flash-1.0.3,b-html5-1.0.3,b-print-1.0.3,r-1.0.7,se-1.0.1/datatables.min.css"/>
   {% include 'top-links.html' %}
    <title>People, Places, and Groups</title>
  </head>

  <body>
        {% include 'header.html' %}
     <div id = "profiles1" style="margin-top:0px">
	 
      <ul class="tabs" data-tab  style="margin-top:0px">
        <li class="tab-title active"><a href="#panel1">Persons</a></li>
        <li class="tab-title"><a href="#panel2">Places </a></li>
        <li class="tab-title"><a href="#panel3">Organizations</a></li>
      </ul>

      <div class="tabs-content">
        <div class="content active" id="panel1">
         <div class = "row full-width">
             <!-- there are many ways to make a datatable, but this worked best for django -->
 <table id="example" class="display" cellspacing="0" width="100%">
                                        <thead>
                                                <tr>
                                                        <th>Name</th>
                                                        <th>Other Names</th>
                                                        <th> Affiliation </th>
                                                        <th> Birth Date</th>
                                                        <th> Death Date </th>
                                                        <th>  Notes </th>
                                                        <th> URI LCNAF  </th>
                                                </tr>
                                        </thead>
                                        <tbody>
                                                {% if persons %}
                                                                {% for person in persons %}
                                                        <tr>

                                                                <td>
                                                                  <a href="/person/{{person.id_tei}}">  {{person.first_name}}  {{person.last_name}} </a>
                                                                </td>
                                                                <td> {{person.other_names}} </td>

                                                                <td>{{person.affiliation}} </td>
                                                                <td> {{person.birth_date}} </td>
                                                                <td>{{person.death_date}} </td>
                                                                <td>{{person.notes}} </td>
                                                                <td><a href = "{{person.uri_lcnaf}}"> {{person.uri_lcnaf}} </a></td>

                                                        </tr>
                                                                {% endfor %}
                                        </tbody>
    </table>

      {% else %}
                                   <strong> There are no persons available at this time in the db. </strong>
                        {% endif %}
        </div>
      </div>
        <div class="content" id="panel2">
          <div class = "row full-width">
          <table id="example" class="display" cellspacing="0" width="100%">
                                        <thead>
                                                <tr>
                                                        <th>Name</th>
                                                        <th>  Alternate Names </th>
                                                        <th>State</th>
                                                        <th> Latitude </th>
                                                        <th> Longitude</th>
                                                        <th> Notes </th>

                                                </tr>
                                        </thead>
                                        <tbody>
                                                {% if places %}
                                                                {% for place in places %}
                                                        <tr>

                                                                <td>
                                                                  <a href="/place/{{place.id_tei}}">   {{place.name}} </a>
                                                                </td>
                                                                <td> {{place.alternate}} </td>
                                                                <td>{{place.state}}   </td>
                                                                <td> {{place.latitude}} </td>
                                                                <td>{{place.longitude}} </td>
                                                                <td>{{person.notes}} </td>


                                                        </tr>
                                                                {% endfor %}
                                        </tbody>
    </table>

      {% else %}
                                   <strong> There are no places available at this time in the db. </strong>
                        {% endif %}
        </div>
      </div>
        <div class="content" id="panel3">
          <div class = "row full-width">
          <table id="example" class="display" cellspacing="0" width="100%">
                                        <thead>
                                                <tr>
                                                        <th>Name</th>
                                                        <th>Associated Spellings</th>
                                                        <th> Notes </th>

                                                </tr>
                                        </thead>
                                        <tbody>
                                                {% if orgs %}
                                                                {% for org in orgs %}
                                                        <tr>

                                                                <td>
                                                                <a href="/org/{{org.id_tei}}">    {{org.organization_name}} </a>
                                                                </td>
                                                                <td> {{org.associated_spellings}} </td>
                                                                <td>{{org_notes}} </td>


                                                        </tr>
                                                                {% endfor %}
                                        </tbody>
    </table>

      {% else %}
                                   <strong> There are no organizations available at this time in the db. </strong>
                        {% endif %}
        </div>
        </div>
      </div>

    </div>








    {% include 'footer.html' %}
 {% include 'bottom-links.html' %}
 

<!-- this is the script necesssary for datatables.  you also need css styling for the datatable -->
<script type="text/javascript" src="https://cdn.datatables.net/r/zf-5.5.2/jq-2.1.4,jszip-2.5.0,pdfmake-0.1.18,dt-1.10.9,b-1.0.3,b-colvis-1.0.3,b-flash-1.0.3,b-html5-1.0.3,b-print-1.0.3,r-1.0.7,se-1.0.1/datatables.min.js"></script>
<!--<script type="text/javascript" src="https://cdn.datatables.net/r/zf-5.5.2/jq-2.1.4,jszip-2.5.0,pdfmake-0.1.18,dt-1.10.9,b-1.0.3,b-colvis-1.0.3,b-flash-1.0.3,b-html5-1.0.3,b-print-1.0.3,r-1.0.7,se-1.0.1/datatables.min.js"></script>-->

  <script>
    $(document).ready(function() {
      $('#example').DataTable( {
        dom: 'Bflrtip',
               buttons: [
                {
                    extend: 'copyHtml5',
                    exportOptions: {
                        columns: ':visible'
         }
                },
                {
                    extend: 'excelHtml5',
                    exportOptions: {
                        columns: ':visible'
                    }
                },
                {
                    extend: 'csvHtml5',
                    exportOptions: {
                        columns: ':visible'
                    }
                },
                {
                    extend: 'pdfHtml5',
                    exportOptions: {
                        columns: ':visible'
                    }
                }
            ],
       "aLengthMenu": [[20, 50, 100, -1], [20, 50, 100]]
        } );
    } );
   </script>

  </body>
</html>

