{% load staticfiles %}
<!doctype html>
<html class="no-js" lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Page information</title>
     {% include 'top-links.html' %}
    <script src="{% static "js/cornplanter2.js" %}"></script>

</head>


<body>

  <div class='stufftoinclude'>
    {% include 'header.html' %}
    <div id = "row1">
      {% include 'nav.html' %}
      <h3 style="text-align:center;"> {{manuscript.title}} </h3>
    </div>
  </div>
  
  <div id="metadate">
  <fieldset style="width:80%; margin:auto;">
    <div class="row">
      <div class="small-4 large-4 columns">
	<ul>
           <li> <b>TITLE:</b> 
              {{manuscript.title}}
           </li>
           <li> <b> CREATOR: </b>
             {% if manuscript.person_name == "" and not manuscript.org_name == "" %}
              {{manuuscript.org_name}}
            {% elif manuscript.org_name == "" and not manuscript.person_name == "" %}
              {{manuscript.person_id.first_name}} {{manuscript.person_id.last_name}} </a>
            {% else %}
              <td> Unknown </td>
            {% endif %}
           </li>
        </ul>
      </div>

      <div class="small-4 large-4 columns">
       <ul>
          <li><b> DATE: </b>
             <span>
              {% if manuscript.date == "" %}
                  Unknown          
              {% else %}
                 {{manuscript.date}}
              {% endif %}
             </span>
          </li>
          <li><b>TYPE OF MANUSCRIPT: </b>
            <span>
            {% if manuscript.type_of_Manuscript == "" %}
              Unknown
            {% else %}
             {{manuscript.type_of_Manuscript}}
            {% endif %}
            </span>
          </li>         
      </div>

      <div class="small-4 large-4 columns">
        <ul>
          <li><b>CALL NUMBER: </b>
             <span>
               {% if manuscript.call_no == "" %}
                 None
               {% else %}
                 {{manuscript.call_no}}
               {% endif %}
             </span>
          </li>
          <li><b> LOCATION: </b>
            <span>
              {{manuscript.location}}
            </span>
          </li>
        </ul>
      </div>

    </div>

  </fieldset>
  </div>
  
  <div id="view" style="width:80%; margin:auto; border:3px solid #8597af">
     <div id="control" style="width:100% background-color:#ededed;">
hhhhhhhhhhhhhhhhhhhhhhhh
     <div>
     <div class="small-4 large-4 columns">
          Page <input type="text" 
                       id="page#" 
                       value= {{pagenumber}} style="width:50px; display:inline-block" 
                       onkeydown = "if (event.keyCode == 13) getDirection()"> out of {{total}}
           <input id="btnTurn" type="button" class="button" onclick="getDirection()" value="Go" style="display:inline-block; border-radius:7px; background-color:#8c0404; color:white;">
           <script>
               function getDirection(){
               var input = document.getElementById("page#").value;
               var new_id ="{{HTTP_HOST}}/page/{{current_page.id_tei}}" ;
                   new_id = new_id.slice(0,-3);
                 if (input.length == 1){
                     new_id = new_id+"00"+input;
                     console.log(new_id);
                     window.location=new_id;
                  } else if (input.length == 2){
                          new_id = new_id +"0"+input;
                           console.log(new_id);
                           window.location = new_id;
                  } else{
                     new_id = new_id+input;
                     console.log(new_id);
                     window.location=new_id;
                  }
              }
           </script> 
     </div>
 
     <div class="small-4 large-4 columns">
             <a  href="/page/{{manuscript.id_tei}}_001"  class="success button" title="First" style="display:inline-block; border-radius:7px; background-color:#8c0404; color:white;">
                <span class="fa fa-step-backward"></span>
             </a>

             <a href="/page/{{next_one.id_tei}}" class="success button" title="Previous" style="display:inline-block; border-radius:7px; background-color:#8c0404; color:white;">
                <span class="fa fa-chevron-left"></span>
             </a>

            <a href="/outputPagePT/{{current_page.id_tei}}" target="_blank" class="button" title="Download" style="display:inline-block; border-radius:7px; background-color:#8c0404; color:white;">
                <span class="fa fa-download"></span>
             </a>

             <a href="/page/{{previous.id_tei}}" class="button title="Next" style="display:inline-block; border-radius:7px; background-color:#8c0404; color:white;">
                <span class="fa fa-chevron-right"></span>
             </a>
             <a href="/page/{{manuscript.id_tei}}_0{{total}}" class="button" title="Last" style="display:inline-block; border-radius:7px; background-color:#8c0404; color:white;">
                <span class="fa fa-step-forward"></span></a>
<!--previous and next_one are switched, but they work fine on the web in this way-->
     </div>

     <div class="small-4 large-4 columns">
           <div style="margin-left:55px;">
             <form  method="GET" action="">
               <input type="text" value = '{{ request.GET.q }}' name ='q' placeholder="Search within this manuscript..." style="display:inline-block; width=55%">
                <button class="button" type="submit" style="display:inline-block;  background-color:#8c0404; color:white;"><i class="fa fa-search"></i></button>
              <a href="#" data-reveal-id="videoModal" class="radius button" style=" background-color:#8c0404; color:white;">Show</a>
            </form>
           </div>
           <!-- Search within manuscript is commented out because it needs to be modified, read Issues in Wiki on Gihub-->

        <div id="videoModal" class="reveal-modal large" data-reveal aria-labelledby="videoModalTitle" aria-hidden="true" role="dialog">
          <h2 id="videoModalTitle">This modal has video</h2>
          <div id="result">
          </div>
          <a class="close-reveal-modal" aria-label="Close">&#215;</a>
        </div>

     </div>
     </div>
Image and text here
</div>
  <div>  
    <div id="search-result">
      <p><font color = 'red'>{{ request.GET.q }}</font> found on:
         <ul>
          {% for found_page in search_result %}
             <script type=text/javascript>
                     var found_page_number='{{found_page.id_tei}}'
                     var found_page_number = found_page_number.slice(-3)
                     console.log('found on');
                     console.log(found_page_number);
             </script>

             <li>
                <a href="/page/{{found_page.id_tei}}">
                  Page
                  <script type='text/javascript'>
                     document.write(found_page_number)
                  </script>
                </a>
              </li>
          {% endfor %}
         </ul>
       </p>

    </div>
<div>
<a href="#" data-reveal-id="firstModal" class="radius button">Modal in a modal&hellip;</a>
<div id="firstModal" class="reveal-modal" data-reveal aria-labelledby="firstModalTitle" aria-hidden="true" role="dialog">
  <h2 id="firstModalTitle">This is a modal.</h2>
  <p>Reveal makes these very easy to summon and dismiss. The close button is simply an anchor with a unicode character icon and a class of <code>close-reveal-modal</code>. Clicking anywhere outside the modal will also dismiss it.</p>
  <p>Finally, if your modal summons another Reveal modal, the plugin will handle that for you gracefully.</p>
  <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>
</div>
</body>
<html>
